workflows/AI Newsletter.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Todoist - #Routines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Todoist - Higher Priority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - Higher Priority": {
      "main": [
        [
          {
            "node": "Aggregate High Priority Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Todoist - #Routines": {
      "main": [
        [
          {
            "node": "Aggregate Routine Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Routine Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate High Priority Tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Task Prompt - Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate Calendar Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Calendar Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create Task Prompt - Tasks": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Todoist - #Routines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Todoist - Higher Priority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-13T02:50:37.834Z",
  "id": "UjkvjlmcQa4ndNsj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Newsletter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -120
      ],
      "id": "a5298246-6606-4774-b3a8-d08428224b0c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "(today|overdue) & (#Routines)"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        140,
        -460
      ],
      "id": "0fbf5b78-43df-4654-8596-11053a6abd53",
      "name": "Todoist - #Routines",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "NJCKeLpADTG146Dn",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "filter": "(#Next Actions) & (!p4)"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.1,
      "position": [
        140,
        -240
      ],
      "id": "d76ccbba-d8ba-43a8-b77f-9aeddac81d66",
      "name": "Todoist - Higher Priority",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "NJCKeLpADTG146Dn",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "Routine Task Due Today"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        -460
      ],
      "id": "8b0533d8-c314-4d70-91f9-65982b16b46a",
      "name": "Aggregate Routine Tasks"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content",
              "renameField": true,
              "outputFieldName": "High Priority Tasks"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        -240
      ],
      "id": "5633c270-a70e-496f-ad72-47647b6318e9",
      "name": "Aggregate High Priority Tasks"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        720,
        -120
      ],
      "id": "5d01e375-aa62-4034-b2d9-a7582fc019fd",
      "name": "Merge"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Act as Executive Assistant with 10 years of experience. Your name is Gwen. Today's date is {{ $now.format('yyyy-MM-dd') }}, and it is a {{ $now.format('cccc') }}.\n\nYou are writing a witty and entertaining daily email for Ritchie, your boss, who will read this when he wakes up. This email helps him prepare for the day with a dose of humor, warmth, and clarity. Include:\n\n- A light, funny greeting to start.\n- A summary of today's calendar appointments (with time and location if available).\n- A prioritized overview of today’s tasks, especially focusing on anything that needs to happen before or around calendar events.\n- Include recurring tasks in a helpful tone, not just a checklist—add some color commentary where appropriate.\n- Highlight any high-priority tasks with urgency and flair.\n- Gwen's personality: reliable, slightly sassy, emotionally intelligent, and always one step ahead.\n\nYou must return your response as a JSON object with the following fields:\n\n    subject: A short, catchy, and funny subject line (e.g. “Saturday Shenanigans & Simmering Hot Pot Plans 🍲”). Include the date please.\n    body: The full body of the email, written in Gwen’s voice."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1140,
        -120
      ],
      "id": "984cc66e-25f1-4b18-90a1-09112732c8f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1080,
        100
      ],
      "id": "f733c6ee-5c86-48ac-82cd-520b82ea3980",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ojJVqUWOFMKOOLeQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now.format('yyyy-MM-dd') }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1240,
        100
      ],
      "id": "ba2207f0-2f68-4341-affe-5c9a7b56a6fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "ritchie@macapinlac.com",
          "mode": "list",
          "cachedResultName": "My Calendar"
        },
        "returnAll": true,
        "timeMin": "={{ new Date(new Date().setHours(0, 0, 0, 0)) }}",
        "timeMax": "={{ new Date(new Date().setHours(11, 59, 59, 59)); }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        40,
        40
      ],
      "id": "6958f0de-c2ec-4025-85b2-43f0a75677b1",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JdproaL6bpH4FNBR",
          "name": "ritchie@macapinlac.com"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86991a82-dc0d-4c41-8663-eb23b2ae949c",
              "name": "Appointments",
              "value": "={{ $json.summary }} (Start time: {{ $json.start.dateTime }}, End time: {{ $json.end.dateTime }}) at {{ $json.location }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        40
      ],
      "id": "84e134f6-f947-4444-8b3d-eae2be45ac5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Appointments"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        40
      ],
      "id": "1aca66c1-22a1-47e0-b1c8-fa8a6b6127ea",
      "name": "Aggregate Calendar Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6db5c5f1-4cb6-4b7d-bd7a-07fc1b6ad252",
              "name": "chatInput",
              "value": "=The following lists are tasks extracted from Todoist.\n\nThese are my tasks that occur on a recurring basis:\n\n{{ $json['Routine Task Due Today'].join(\"\\n\") }}\n\nThese are my high priority tasks:\n\n{{ $json['High Priority Tasks'].join(\"\\n\") }}\n\nThe following are important calendar appointments from my personal calendar.\n\n{{ $json.Appointments.join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        -120
      ],
      "id": "a456139f-c38f-487b-bbf2-fc3758134eab",
      "name": "Create Task Prompt - Tasks"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"Saturday Shenanigans & Simmering Hot Pot Plans 🍲\",\n\t\"body\": \"Good morning, Ritchie! ☀️\\n\\nWelcome to another fabulous Saturday! As you gear up for the day ahead, let’s tackle your schedule with a dash of humor and a sprinkle of motivation!\\n\\n---\\n\\n## 🗓 Upcoming Calendar Appointment  \\n### Dinner - Chyler’s Choice  \\n- **Date:** April 12, 2025  \\n- **Time:** 5:15 PM - 7:15 PM (PDT)  \\n- **Location:** ChoCho Hot Pot  \\n  4A-4361 Kingsway, Burnaby, BC V5H 1Z9, Canada  \\n\\nGet ready for a night of hot pot goodness!\\n\\n---\\n\\n## 🔄 Recurring Tasks  \\nHere’s your trusty list of recurring tasks eagerly waiting for your attention:\\n- **Mental wellness time** (because you deserve a moment of zen!)  \\n- **Review and prioritize** [Next Actions](https://app.todoist.com/app/project/next-actions-6F5gWVp8J6G97FGP) **list** (let’s set ourselves up for success!)  \\n- **Review upcoming calendar appointments** (no surprises today!)  \\n- **Review prior week** (reflect and improve!)  \\n- **Review** [Someday Maybe](https://app.todoist.com/app/project/good-ideas-for-someday-6F2XGpjPgqRjVg8M) **list** (let those creative juices flow!)  \\n- **Weekend Chores** (because clutter won’t disappear on its own!)  \\n- **Measure blood pressure, fat percentage, and record** (keeping it healthy!)  \\n- **Consumables (Metamucil)** (a friendly nudge to keep your gut happy!)  \\n- **Homelab Maintenance (Burnaby)** (let's keep the tech in tip-top shape!)  \\n\\n---\\n\\n## 🚀 High-Priority Task  \\n- **Compile feedback for Kris Lau's resume** (So let’s make Kris shine like the star they are!)  \\n\\n---\\n\\n### 🕒 Suggested Schedule Around Dinner  \\n**Before Dinner:**  \\n- **1:30 PM - 2:30 PM:** Compile feedback for Kris Lau’s resume (let’s make it sparkle!)  \\n- **2:30 PM - 3:00 PM:** Measure blood pressure, fat percentage, and record (health is wealth!)  \\n- **3:00 PM - 3:30 PM:** Mental wellness time (meditate or chill with a good book!)  \\n- **3:30 PM - 4:00 PM:** Weekend Chores (let's make that home shine!)  \\n- **4:00 PM - 4:30 PM:** Prepare for dinner (ensure you have an appetite because hot pot awaits!)  \\n\\n**During Dinner:**  \\n- **5:15 PM - 7:15 PM:** Enjoy the delightful spread at ChoCho Hot Pot (get those chopsticks ready!)  \\n\\n**After Dinner:**  \\n- **7:30 PM - 8:00 PM:** Review and prioritize [Next Actions](https://app.todoist.com/app/project/next-actions-6F5gWVp8J6G97FGP) list (let’s keep the momentum!)  \\n- **8:00 PM - 8:30 PM:** Review upcoming calendar appointments (what’s coming up next?)  \\n- **8:30 PM - 9:00 PM:** Review prior week (what worked? What didn’t?)  \\n- **9:00 PM - 9:30 PM:** Review [Someday Maybe](https://app.todoist.com/app/project/good-ideas-for-someday-6F2XGpjPgqRjVg8M) list (the ideas that could change everything!)  \\n- **9:30 PM onwards:** Wrap up with remaining tasks: Weekend Chores, Consumables, and Homelab Maintenance as you see fit.  \\n\\n---\\n\\nThank you for being organized and awesome! Remember, the world is your oyster today—go conquer it! 🌟\\n\\nWarm regards,  \\nGwen  \\nYour Trusty Executive Assistant\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1420,
        100
      ],
      "id": "607ccef4-bade-40e1-93a2-e956337bded5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output.body }}",
        "destinationKey": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1500,
        -120
      ],
      "id": "a49cbe08-cca1-4f7c-9032-f60ed02e9ef5",
      "name": "Markdown"
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "support@boogienet.com",
        "fromName": "Gwen (AI Assistant)",
        "toEmail": "ritchie@macapinlac.com",
        "subject": "={{ $json.output.subject }}",
        "contentType": "text/html",
        "contentValue": "={{ $json.body }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1720,
        -120
      ],
      "id": "abdc85d7-c88c-4bba-8fcc-11c0c3dedb5b",
      "name": "SendGrid",
      "credentials": {
        "sendGridApi": {
          "id": "VtMovXvSYGhENdcJ",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -340,
        -460
      ],
      "id": "f61d2520-7892-4770-9b85-ac37def673da",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-13T04:35:41.000Z",
  "versionId": "21b1d9e0-6b51-4b8a-9e74-1668af5e20b2"
}