workflows/Alberta Filipino Journal - Controller (Issues Table).json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-20T23:21:07.402Z",
    "createdAt": "2025-12-20T23:21:07.402Z",
    "versionId": "d75ef252-2408-441e-a826-067377a31055",
    "workflowId": "KQNpgN5jVqxHYe5F",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "eda085cf-9646-4923-91a5-f1571de98010",
          "authentication": "headerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "f8e7522f-c92c-4091-80d1-e99b0f18c205",
        "name": "Webhook",
        "webhookId": "eda085cf-9646-4923-91a5-f1571de98010",
        "credentials": {
          "httpHeaderAuth": {
            "id": "dLRS4oox9muSlPpq",
            "name": "Alberta Filipino Journal HeaderAuth"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "da9711a5-409c-4cab-9dbf-610047934332",
                "leftValue": "={{ $json.body.event_type }}",
                "rightValue": "rows.updated",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          0
        ],
        "id": "467b523c-5c37-417e-b923-e304bec9a7a8",
        "name": "If Row Updated"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.items[0].Action.id }}",
                      "rightValue": 3840,
                      "operator": {
                        "type": "number",
                        "operation": "equals"
                      },
                      "id": "d01ffea2-1c1e-414c-ac11-a71f57ac19e0"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Process Tear Sheets"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          416,
          -96
        ],
        "id": "e0cb4d33-7e3f-4aa7-a953-df8bcacaee05",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "5i5EKNHosLhMG68L",
            "mode": "list",
            "cachedResultUrl": "/workflow/5i5EKNHosLhMG68L",
            "cachedResultName": "Alberta Filipino Journal - Tear Sheets"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          624,
          -96
        ],
        "id": "7a61c660-1b18-4d1f-b770-8da6d7563bd8",
        "name": "Call 'Alberta Filipino Journal - Tear Sheets'",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 265,
          "tableId": 956,
          "rowId": "={{ $('Switch').item.json.body.items[0].id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 9382,
                "fieldValue": "={{ null }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          832,
          -32
        ],
        "id": "de929b6c-3002-433b-ad33-d42d332be3b9",
        "name": "Reset Issue Row Action",
        "credentials": {
          "baserowApi": {
            "id": "d2WUYcb60dACjFtq",
            "name": "Baserow account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "If Row Updated",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Row Updated": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Call 'Alberta Filipino Journal - Tear Sheets'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'Alberta Filipino Journal - Tear Sheets'": {
        "main": [
          [
            {
              "node": "Reset Issue Row Action",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Ritchie Macapinlac",
    "name": null,
    "description": null
  },
  "activeVersionId": "d75ef252-2408-441e-a826-067377a31055",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Row Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Row Updated": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Alberta Filipino Journal - Tear Sheets'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Alberta Filipino Journal - Tear Sheets'": {
      "main": [
        [
          {
            "node": "Reset Issue Row Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T22:51:26.552Z",
  "id": "KQNpgN5jVqxHYe5F",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Alberta Filipino Journal - Controller (Issues Table)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eda085cf-9646-4923-91a5-f1571de98010",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f8e7522f-c92c-4091-80d1-e99b0f18c205",
      "name": "Webhook",
      "webhookId": "eda085cf-9646-4923-91a5-f1571de98010",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dLRS4oox9muSlPpq",
          "name": "Alberta Filipino Journal HeaderAuth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "da9711a5-409c-4cab-9dbf-610047934332",
              "leftValue": "={{ $json.body.event_type }}",
              "rightValue": "rows.updated",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "467b523c-5c37-417e-b923-e304bec9a7a8",
      "name": "If Row Updated"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.items[0].Action.id }}",
                    "rightValue": 3840,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d01ffea2-1c1e-414c-ac11-a71f57ac19e0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Process Tear Sheets"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "e0cb4d33-7e3f-4aa7-a953-df8bcacaee05",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5i5EKNHosLhMG68L",
          "mode": "list",
          "cachedResultUrl": "/workflow/5i5EKNHosLhMG68L",
          "cachedResultName": "Alberta Filipino Journal - Tear Sheets"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -96
      ],
      "id": "7a61c660-1b18-4d1f-b770-8da6d7563bd8",
      "name": "Call 'Alberta Filipino Journal - Tear Sheets'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 265,
        "tableId": 956,
        "rowId": "={{ $('Switch').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 9382,
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        832,
        -32
      ],
      "id": "de929b6c-3002-433b-ad33-d42d332be3b9",
      "name": "Reset Issue Row Action",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.32.5",
            "content-length": "559",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "albertafilipinojournal": "3VeZl**O5flNMt",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "75.156.53.61",
            "cf-ipcountry": "CA",
            "cf-ray": "9b12ddaf48084ae3-YVR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-baserow-delivery": "dfba57d7-3817-4fec-b12d-1d3a53f05a3d",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "162.158.146.64",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "96e2da72d9fc",
            "x-real-ip": "162.158.146.64"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 956,
            "database_id": 265,
            "workspace_id": 167,
            "webhook_id": 10,
            "event_id": "dfba57d7-3817-4fec-b12d-1d3a53f05a3d",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "Issue": "December 2025",
                "Volume": "18",
                "Number": "12",
                "Sent to Publisher": "2025-12-18",
                "Action": {
                  "id": 3840,
                  "value": "Process Tear Sheets",
                  "color": "light-purple"
                }
              }
            ],
            "old_items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "Issue": "December 2025",
                "Volume": "18",
                "Number": "12",
                "Sent to Publisher": "2025-12-18",
                "Action": null
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/eda085cf-9646-4923-91a5-f1571de98010",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T22:51:26.555Z",
      "createdAt": "2025-12-20T22:51:26.555Z",
      "role": "workflow:owner",
      "workflowId": "KQNpgN5jVqxHYe5F",
      "projectId": "rkuUtfbV4pRJvn4a"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-20T23:21:07.401Z",
  "versionId": "d75ef252-2408-441e-a826-067377a31055"
}