workflows/Ask mom and dad to help with the kids.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Compose Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-03T19:25:53.411Z",
  "id": "Wx8WDP2FzHsjG8VE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Ask mom and dad to help with the kids",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "Hi there! 👋",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e49524cb-52c3-4caf-90cb-f6fd77d31500",
      "name": "When chat message received",
      "webhookId": "4370950a-f4b8-4ad4-80ef-50018458f25e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User query: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=# Overview\nAct as an assistant. You're objective is to read the incoming query and write an email to coordinate activities with people. \n\n## Tools\nSearch Contacts - Use this tool to search the contact database for the necessary contact information. Use this tool to retrieve the Contact ID. \nGet Contact - Use this tool to get the contact information.\nCompose Email - Use this tool to create an email message.\n\n## Rules\n- Send one email to multiple recipients\n- You must always retrieve the latest email address using 'Search Contacts' and 'Get Contact'\n- Before creating an email you must have the following information:\n  - The date of the event\n  - The start date\n  - What activity is being done\n- If you have incomplete information do not proceed and clarify.\n\n## More Context\n\n- My name is Ritchie\n- Mom is Rafaela Macapinlac\n- Dad is Tito Macapinlac\n- Chyler is my Son\n- Mackenzee is my Daughter\n- Today is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        220,
        0
      ],
      "id": "126812cc-ad4c-4bfe-ad16-d31c46e1552a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        200
      ],
      "id": "71027b0a-a11f-446d-9941-a3f4ce6a5f25",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ojJVqUWOFMKOOLeQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        300,
        200
      ],
      "id": "cb94cbfe-6751-467a-991c-326aa5e48259",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        740,
        360
      ],
      "id": "db427826-61cb-44ec-8f1d-481061317f72",
      "name": "Compose Email",
      "webhookId": "35a93d2a-bb8a-4f71-be28-1627486fc282",
      "credentials": {
        "gmailOAuth2": {
          "id": "RNFupvlyj3Indiwy",
          "name": "ritchie@macapinlac.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "fields": [
          "emailAddresses",
          "names",
          "nicknames"
        ],
        "useQuery": true,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "rawData": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAW_Data', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        600,
        360
      ],
      "id": "654dbeb2-41ac-42cb-a4c8-1043e4870dfc",
      "name": "Search Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "uGmMJiDwcwcjuhcY",
          "name": "Google Contacts account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-04T15:19:16.000Z",
  "versionId": "8cb3292e-6bcf-4be1-bfd6-19b7d0d7c991"
}