workflows/Build 1:1 markdown file in Journal Inbox.json
{
  "active": true,
  "connections": {
    "Baserow": {
      "main": [
        [
          {
            "node": "Set Template Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Frontmatter": {
      "main": [
        [
          {
            "node": "Build note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incorporate template file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build note": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow - Mark created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Template Path": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download MD template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MD template": {
      "main": [
        [
          {
            "node": "Incorporate template file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-21T01:47:19.878Z",
  "id": "Y3xsLlcEz2dkZAEA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Build 1:1 markdown file in Journal Inbox",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "databaseId": 33,
        "tableId": 583,
        "rowId": "={{ $json.id }}"
      },
      "id": "65471095-23b2-4c9e-a9a6-69d8e4aed338",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        640,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "20d2efdc-78be-4c81-907e-ae98b985af06",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1620,
        540
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Frontmatter",
              "stringValue": "=---\nname: {{ $json['Name'] }}\nnote_type: Scheduled meeting\nmeeting_date: {{ $json['Next meeting'] }}\nmeeting_type: One on one\nmonica:\n  contact_id: {{ $json.monica_contact_id }}\n  activity_id: {{ $json.monica_activity_id }}\ntags:\n  - One on one\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "8020a732-6cf5-481c-aa2b-0969855aed71",
      "name": "Build Frontmatter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1820,
        540
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "nextcloud_template",
        "options": {}
      },
      "id": "0fae9bb7-910e-4f18-9593-9d08c4cdc4aa",
      "name": "Incorporate template file",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        1340,
        780
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "notes_data",
              "stringValue": "={{ $json.Frontmatter }}\n\n{{ $json[\"nextcloud_template\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b2eaf1c-fc1c-4c46-ba27-a2418b8c7ddf",
      "name": "Build note",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2040,
        540
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "nextcloud_template_path",
              "stringValue": "=/Journal/Templates/{{ $json['Known From'].value.toLowerCase() }}.md"
            }
          ]
        },
        "options": {}
      },
      "id": "2ead2233-7efa-404a-bc36-842d8dcdbe81",
      "name": "Set Template Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.nextcloud_template_path }}"
      },
      "id": "0300c636-bedd-4a3c-9748-5104cc6a1766",
      "name": "Download MD template",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1120,
        780
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "notes": "Need to create a /Journal/Templates/{{ Known From }}.md file regardless."
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=New 1:1 created: {{ $('Build note').item.json.Name }} with template: '{{ $('Build note').item.json[\"nextcloud_template_path\"] }}'",
        "options": {}
      },
      "id": "e0fbd549-cb81-4483-b2b3-c1c63d0ea8a2",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2460,
        540
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "hf6RAiISd5zNhDZr",
          "name": "Discord Webhook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Journal/Inbox/{{ $json.Name }}.md",
        "fileContent": "={{ $json.notes_data }}"
      },
      "id": "651fdcc2-3313-46b9-b94d-1c822161f82c",
      "name": "Nextcloud",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2260,
        540
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b26c8119-d87a-4a6c-97ae-9ddb8fc23874",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        520
      ],
      "id": "cf4daa3e-7a08-4c52-9353-4cecbc9113ee",
      "name": "Webhook",
      "webhookId": "b26c8119-d87a-4a6c-97ae-9ddb8fc23874",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VyI3OVswBv8ZksDK",
          "name": "1:1 Baserow Webhook"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        440,
        520
      ],
      "id": "cb94e412-03af-4f4f-9f01-b112ef4d249a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 33,
        "tableId": 583,
        "rowId": "={{ $('Split Out').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 6012,
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2260,
        760
      ],
      "id": "4a4443ef-693c-4889-aeca-9be9bd648f46",
      "name": "Baserow - Mark created",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.31.0",
            "content-length": "861",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "216.232.192.78",
            "cf-ipcountry": "CA",
            "cf-ray": "8ee6505d09c76c8d-SEA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "oneonone": "LpR59d9%Di0zMc",
            "x-baserow-delivery": "b6edcd72-f658-47d1-bfcc-08818f8e5ee9",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "172.71.147.32",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cddf95658d4f",
            "x-real-ip": "172.71.147.32"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 583,
            "database_id": 33,
            "workspace_id": 31,
            "event_id": "b6edcd72-f658-47d1-bfcc-08818f8e5ee9",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 4,
                "order": "4.00000000000000000000",
                "Name": "Kee Lim",
                "Known From": {
                  "id": 2748,
                  "value": "ICBC - staff",
                  "color": "light-yellow"
                },
                "Active": true,
                "Next meeting": "2024-09-19",
                "monica_contact_id": "172",
                "nextcloud_path": "/Meetings/ICBC/1on1s/Kee Lim/",
                "todoist_tag": "keelim",
                "monica_activity_id": "15",
                "Create Notes File": true
              }
            ],
            "old_items": [
              {
                "id": 4,
                "order": "4.00000000000000000000",
                "Name": "Kee Lim",
                "Known From": {
                  "id": 2748,
                  "value": "ICBC - staff",
                  "color": "light-yellow"
                },
                "Active": true,
                "Next meeting": "2024-09-19",
                "monica_contact_id": "172",
                "nextcloud_path": "/Meetings/ICBC/1on1s/Kee Lim/",
                "todoist_tag": "keelim",
                "monica_activity_id": "15",
                "Create Notes File": false
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/b26c8119-d87a-4a6c-97ae-9ddb8fc23874",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-07T19:23:29.000Z",
  "versionId": "426fe1fb-dfae-4446-940e-e795c731e1d0"
}