workflows/Build 1:1 markdown file in Journal Inbox.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Set Template Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Frontmatter": {
      "main": [
        [
          {
            "node": "Build note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incorporate template file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Build note": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nextcloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Template Path": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download MD template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download MD template": {
      "main": [
        [
          {
            "node": "Incorporate template file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-21T01:47:19.878Z",
  "id": "Y3xsLlcEz2dkZAEA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Build 1:1 markdown file in Journal Inbox",
  "nodes": [
    {
      "parameters": {},
      "id": "785e96d1-6c12-45ba-bd56-30a78567c158",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        520
      ]
    },
    {
      "parameters": {
        "databaseId": 33,
        "tableId": 583,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 5547,
                "operator": "date_equal",
                "value": "={{ $today.toFormat('yyyy-MM-dd') }}"
              },
              {
                "field": 5546,
                "operator": "boolean",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "65471095-23b2-4c9e-a9a6-69d8e4aed338",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        640,
        520
      ],
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "id"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "20d2efdc-78be-4c81-907e-ae98b985af06",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1620,
        540
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Frontmatter",
              "stringValue": "=---\nname: {{ $json['Name'] }}\nnote_type: Scheduled meeting\nmeeting_date: {{ $json['Next meeting'] }}\nmeeting_type: One on one\nmonica:\n  contact_id: {{ $json.monica_contact_id }}\n  activity_id: {{ $json.monica_activity_id }}\ntags:\n  - One on one\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "8020a732-6cf5-481c-aa2b-0969855aed71",
      "name": "Build Frontmatter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1820,
        540
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "nextcloud_template",
        "options": {}
      },
      "id": "0fae9bb7-910e-4f18-9593-9d08c4cdc4aa",
      "name": "Incorporate template file",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        1340,
        780
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "notes_data",
              "stringValue": "={{ $json.Frontmatter }}\n\n{{ $json[\"nextcloud_template\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6b2eaf1c-fc1c-4c46-ba27-a2418b8c7ddf",
      "name": "Build note",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2040,
        540
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "nextcloud_template_path",
              "stringValue": "=/Journal/Templates/{{ $json['Known From'].value.toLowerCase() }}.md"
            }
          ]
        },
        "options": {}
      },
      "id": "2ead2233-7efa-404a-bc36-842d8dcdbe81",
      "name": "Set Template Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.nextcloud_template_path }}"
      },
      "id": "0300c636-bedd-4a3c-9748-5104cc6a1766",
      "name": "Download MD template",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1120,
        780
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "notes": "Need to create a /Journal/Templates/{{ Known From }}.md file regardless."
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=New 1:1 created: {{ $('Build note').item.json.Name }} with template: '{{ $('Build note').item.json[\"nextcloud_template_path\"] }}'",
        "options": {}
      },
      "id": "e0fbd549-cb81-4483-b2b3-c1c63d0ea8a2",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2660,
        540
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "hf6RAiISd5zNhDZr",
          "name": "Discord Webhook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "a131c740-a8dc-4b9a-92e5-066aa02eb015",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "content": "If a file already exists with the same date, then don't overwrite it"
      },
      "id": "37524b42-c3f0-4f67-9da6-892a2993f801",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2180,
        760
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "=/Journal/Inbox/{{ $json.Name }}.md",
        "fileContent": "={{ $json.notes_data }}"
      },
      "id": "651fdcc2-3313-46b9-b94d-1c822161f82c",
      "name": "Nextcloud",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2460,
        540
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "/Journal/Inbox/"
      },
      "id": "27b0f583-c7cf-4de4-99d4-49e6da8d3683",
      "name": "Nextcloud1",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        2280,
        380
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-24T18:17:53.000Z",
  "versionId": "e4ba8c93-dd0d-4062-a446-bc470813267b"
}