workflows/Job Application Pipeline.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out - Each Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out - Each Row": {
      "main": [
        [
          {
            "node": "If - There is an action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - There is an action": {
      "main": [
        [
          {
            "node": "Switch - By Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - By Action": {
      "main": [
        [
          {
            "node": "Execute Workflow - Resume Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow - Setup Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow - Resume Analysis": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-22T14:34:28.719Z",
  "id": "vcec0dkSIQHBSmk1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job Application Pipeline",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4Eh3Z4Yo6VJZsxOq",
          "mode": "list",
          "cachedResultName": "Resume Analysis"
        },
        "options": {}
      },
      "id": "ccfe9abf-acaf-4b36-ba21-b845a95de4e2",
      "name": "Execute Workflow - Resume Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        880,
        980
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nk7mJVSD56Bl63sy",
          "mode": "list",
          "cachedResultName": "Setup Job Application Folder"
        },
        "options": {}
      },
      "id": "d7d26c69-f723-4fd8-ad99-488d4d98d2ba",
      "name": "Execute Workflow - Setup Folder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        880,
        1300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96686a27-41d4-491e-9f8f-7cbf50a028a7",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "70f4298a-f4b4-4a11-968b-6cef75caa71d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        1320
      ],
      "webhookId": "535f349d-458a-4afa-b419-11c3c4d06f81",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Bo6EzO1uNxkaXtR",
          "name": "JobSearch Baserow Webhook"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        140,
        1320
      ],
      "id": "f2bc9c9c-4c16-45bd-b9c4-afc1ba68794c",
      "name": "Split Out - Each Row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e94884d8-9f5b-40f6-8d30-7b7dd19d3e68",
              "leftValue": "={{ $json.Action }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        1320
      ],
      "id": "dde709a8-001b-401b-a85e-0a87b23cd2cb",
      "name": "If - There is an action"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        1500
      ],
      "id": "22fb6785-c105-4db6-b12f-330a7c8fd8a8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action.value }}",
                    "rightValue": "Resume Analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resume Analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53fdb702-e25e-41f9-96a8-35b146491ae7",
                    "leftValue": "={{ $json.Action.value }}",
                    "rightValue": "Folder Setup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Folder Setup"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        1180
      ],
      "id": "31566a8d-91b4-4ed3-b5d5-9cb4472fb857",
      "name": "Switch - By Action"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1100,
        980
      ],
      "id": "9a9d2528-daa3-4ad9-b143-5a5f1a1050a6",
      "name": "Discord",
      "credentials": {
        "discordWebhookApi": {
          "id": "hf6RAiISd5zNhDZr",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.31.0",
            "content-length": "12216",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "216.232.192.78",
            "cf-ipcountry": "CA",
            "cf-ray": "8eb50f1dcf1c2536-SJC",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "jobsearch": "#NMtdYS2f2c606",
            "x-baserow-delivery": "70a15b69-37f4-4e1d-8628-06ed7ff42c32",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "172.69.22.152",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cddf95658d4f",
            "x-real-ip": "172.69.22.152"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 592,
            "database_id": 124,
            "workspace_id": 31,
            "event_id": "70a15b69-37f4-4e1d-8628-06ed7ff42c32",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 7,
                "order": "7.00000000000000000000",
                "uuid": "9714bfb0-03ed-4ba1-8238-21c4181c5472",
                "Position": "Senior Manager, Software Development",
                "Company": "Nicola Weath",
                "NextCloud_Path": "/Jobs/Nicola Weath/Senior Manager, Software Development/",
                "Closing Date": null,
                "Posting Text": "Senior Manager, Software Development\nat Nicola Wealth\nVancouver, BC\nAbout Nicola Wealth:\nWe have a lot to be proud of at Nicola Wealth. Our sophisticated financial planning, our diversified private investment funds and their exceptional performance, our 99% client retention rate and our award-winning culture, combine to position us as a national leader in wealth management. Recognized as a Best Managed Company and one of Canada’s Top Employers, we are dedicated to upholding our firm’s values through this phase of significant growth.\n\nBy bringing together smart, dedicated and supportive colleagues from diverse backgrounds, we deliver extraordinary client service in a values-driven work environment. The collaboration, creativity and entrepreneurial spirit we were founded on provides the opportunity for you to make a real impact and build a rewarding career. We are passionate about our business, our culture and investing deeply in your growth and development to build for the future. If you have this same drive, then let’s talk!\n\nAbout the Team:\nOur Technology Team is a dynamic group of innovators, problem-solvers, and tech enthusiasts.  They drive digital transformation, elevate user experiences, and empower our company to thrive in the ever-evolving tech landscape. \n\nPurpose of the Role:\nThe Senior Manager of Development is responsible for managing the leads of multiple teams of software developers to deliver high-quality software products. Reporting into the VP of Development, this role will oversee the planning, design, development, testing, and deployment of specific products. This role will partner closely with other departments, such as marketing, and the wealth advisory team, to ensure that the tools and systems developed meet their needs and the needs of our clients.  \n\nThis is a hybrid role and will be located in our Vancouver offices.  \n\nCore Responsibilities:\nDrive a high-quality software development process which maintains a spirit of fast fails, testing-in-production, and continuous integration/deployment.  \nEffectively work in partnership with multiple stakeholders across the company to understand their goals, needs and desired outcomes, and ensure software solutions are the design process are meeting their objectives and needs.  \nWork collaboratively with the Director of Development and other leaders across the company to produce, socialize and gain buy-in for products.  \nLead and manage several software development teams to ensure each team is resourced effectively, the right skills are within the team and there is a high level of engagement and performance across the team.  \nProvide coaching, feedback, developmental opportunities, to direct/indirect reports.  \nReviews design approach to ensure that designed solutions are architecturally sound.  \nRequired Skills & Qualifications:\n5 years or more of experience managing in the software industry, with at least one year of experience managing other managers.  \nDemonstrable experience in:  \nWorking with diverse stakeholders across the business; Skilled in understanding their needs, consulting and working in partnership and ultimately meeting their needs/objectives  \nHiring and building teams of world-class developers  \nAutomation of testing, coverage, and deployments (CI/CD)  \nAutomation of on demand environments  \nArchitecting complex software systems  \nExtensive knowledge of web protocols, containers, and containerized deployment (docker/k8s), security protocols, encryption standards  \nAbility to follow development processes and work with the team to develop suggestions on how to improve them.  \nPrefers a Lean approach to managing work, focusing on completion of started work.   \nDegree in Software Engineering or Computer Science is considered an asset.  \nBasic SQL database experience, including schema design.  \nCompensation & Benefits Package:\nThis position comes with a base salary range of $130,000 - $160,000 plus a competitive performance bonus, RRSP contribution and participation in our profit-sharing program. Base salary will be commensurate with experience, skills, and qualifications. \n\nAt Nicola Wealth, our people grow our business, delight our clients, and live our values every day. Our comprehensive compensation and benefits package reflects our appreciation for this commitment. Whether it’s participating in our profit sharing and benefit programs on day one, or the opportunity to participate in our share ownership program, our people are able to go beyond a conventional salary and bonus structure. To learn more about our complete package, visit: www.nicolawealth.com/total-rewards.\n\n \n\nPlease include both a cover letter and resume in support of your application. We are an inclusive, equal opportunity employer. For more information about this and other roles: www.nicolawealth.com/careers.\n\nIt is our priority to remove barriers to provide equal access to employment. Should you require reasonable accommodation during the recruitment process please contact us at accessibility@nicolawealth.com and we will work with you to meet your needs. All information shared during the accommodation request process will be stored and used in a manner that is consistent with applicable laws and Nicola Wealth policies.\n\nThank you for your interest in a career with Nicola Wealth!",
                "Posting URL": "https://nicolawealth.com/jobs?7697371002?gh_jid=7697371002",
                "Resume Version": "1.0.1",
                "Cover Letter Version": "",
                "Stage": {
                  "id": 2797,
                  "value": "Not Applied",
                  "color": "darker-green"
                },
                "Action": {
                  "id": 2901,
                  "value": "Resume Analysis",
                  "color": "light-orange"
                }
              }
            ],
            "old_items": [
              {
                "id": 7,
                "order": "7.00000000000000000000",
                "uuid": "9714bfb0-03ed-4ba1-8238-21c4181c5472",
                "Position": "Senior Manager, Software Development",
                "Company": "Nicola Weath",
                "NextCloud_Path": "/Jobs/Nicola Weath/Senior Manager, Software Development/",
                "Closing Date": null,
                "Posting Text": "Senior Manager, Software Development\nat Nicola Wealth\nVancouver, BC\nAbout Nicola Wealth:\nWe have a lot to be proud of at Nicola Wealth. Our sophisticated financial planning, our diversified private investment funds and their exceptional performance, our 99% client retention rate and our award-winning culture, combine to position us as a national leader in wealth management. Recognized as a Best Managed Company and one of Canada’s Top Employers, we are dedicated to upholding our firm’s values through this phase of significant growth.\n\nBy bringing together smart, dedicated and supportive colleagues from diverse backgrounds, we deliver extraordinary client service in a values-driven work environment. The collaboration, creativity and entrepreneurial spirit we were founded on provides the opportunity for you to make a real impact and build a rewarding career. We are passionate about our business, our culture and investing deeply in your growth and development to build for the future. If you have this same drive, then let’s talk!\n\nAbout the Team:\nOur Technology Team is a dynamic group of innovators, problem-solvers, and tech enthusiasts.  They drive digital transformation, elevate user experiences, and empower our company to thrive in the ever-evolving tech landscape. \n\nPurpose of the Role:\nThe Senior Manager of Development is responsible for managing the leads of multiple teams of software developers to deliver high-quality software products. Reporting into the VP of Development, this role will oversee the planning, design, development, testing, and deployment of specific products. This role will partner closely with other departments, such as marketing, and the wealth advisory team, to ensure that the tools and systems developed meet their needs and the needs of our clients.  \n\nThis is a hybrid role and will be located in our Vancouver offices.  \n\nCore Responsibilities:\nDrive a high-quality software development process which maintains a spirit of fast fails, testing-in-production, and continuous integration/deployment.  \nEffectively work in partnership with multiple stakeholders across the company to understand their goals, needs and desired outcomes, and ensure software solutions are the design process are meeting their objectives and needs.  \nWork collaboratively with the Director of Development and other leaders across the company to produce, socialize and gain buy-in for products.  \nLead and manage several software development teams to ensure each team is resourced effectively, the right skills are within the team and there is a high level of engagement and performance across the team.  \nProvide coaching, feedback, developmental opportunities, to direct/indirect reports.  \nReviews design approach to ensure that designed solutions are architecturally sound.  \nRequired Skills & Qualifications:\n5 years or more of experience managing in the software industry, with at least one year of experience managing other managers.  \nDemonstrable experience in:  \nWorking with diverse stakeholders across the business; Skilled in understanding their needs, consulting and working in partnership and ultimately meeting their needs/objectives  \nHiring and building teams of world-class developers  \nAutomation of testing, coverage, and deployments (CI/CD)  \nAutomation of on demand environments  \nArchitecting complex software systems  \nExtensive knowledge of web protocols, containers, and containerized deployment (docker/k8s), security protocols, encryption standards  \nAbility to follow development processes and work with the team to develop suggestions on how to improve them.  \nPrefers a Lean approach to managing work, focusing on completion of started work.   \nDegree in Software Engineering or Computer Science is considered an asset.  \nBasic SQL database experience, including schema design.  \nCompensation & Benefits Package:\nThis position comes with a base salary range of $130,000 - $160,000 plus a competitive performance bonus, RRSP contribution and participation in our profit-sharing program. Base salary will be commensurate with experience, skills, and qualifications. \n\nAt Nicola Wealth, our people grow our business, delight our clients, and live our values every day. Our comprehensive compensation and benefits package reflects our appreciation for this commitment. Whether it’s participating in our profit sharing and benefit programs on day one, or the opportunity to participate in our share ownership program, our people are able to go beyond a conventional salary and bonus structure. To learn more about our complete package, visit: www.nicolawealth.com/total-rewards.\n\n \n\nPlease include both a cover letter and resume in support of your application. We are an inclusive, equal opportunity employer. For more information about this and other roles: www.nicolawealth.com/careers.\n\nIt is our priority to remove barriers to provide equal access to employment. Should you require reasonable accommodation during the recruitment process please contact us at accessibility@nicolawealth.com and we will work with you to meet your needs. All information shared during the accommodation request process will be stored and used in a manner that is consistent with applicable laws and Nicola Wealth policies.\n\nThank you for your interest in a career with Nicola Wealth!",
                "Posting URL": "https://nicolawealth.com/jobs?7697371002?gh_jid=7697371002",
                "Resume Version": "1.0.1",
                "Cover Letter Version": "",
                "Stage": {
                  "id": 2797,
                  "value": "Not Applied",
                  "color": "darker-green"
                },
                "Action": null
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/96686a27-41d4-491e-9f8f-7cbf50a028a7",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-01T18:19:48.000Z",
  "versionId": "b99a5d89-7b00-4da3-964f-c566bcce19a6"
}