workflows/Job Search System (Renee Cheung).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Baserow Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Selected": {
      "main": [
        [
          {
            "node": "Get Job Posting Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Who is making the request": {
      "main": [
        [
          {
            "node": "Get User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Information": {
      "main": [
        [
          {
            "node": "Convert Analysis to an Email Friendly Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Baserow Info": {
      "main": [
        [
          {
            "node": "Action Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Posting Page": {
      "main": [
        [
          {
            "node": "Extract the body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract the body": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update with Posting Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update with Posting Information": {
      "main": [
        [
          {
            "node": "Reset Action Column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Action Column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Resume PDF": {
      "main": [
        [
          {
            "node": "Save Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Variables": {
      "main": [
        [
          {
            "node": "Resume and Job Posting Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract from Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume and Job Posting Analysis": {
      "main": [
        [
          {
            "node": "Update with Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update with Analysis": {
      "main": [
        [
          {
            "node": "Who is making the request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reset Action Column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email the Analysis": {
      "main": [
        []
      ]
    },
    "Convert Analysis to an Email Friendly Format": {
      "main": [
        [
          {
            "node": "Email the Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T14:35:24.372Z",
  "id": "VUtMwEGJCT4egEO0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job Search System (Renee Cheung)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d8598f70-d498-48c4-9e9a-4fa110cb03ef",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -320
      ],
      "id": "ec3c9f09-eb3c-42e7-814b-92ce356cb080",
      "name": "Webhook",
      "webhookId": "d8598f70-d498-48c4-9e9a-4fa110cb03ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Bo6EzO1uNxkaXtR",
          "name": "JobSearch Baserow Webhook"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9f0a14b-a6f3-4815-aa75-0e72b0a28018",
                    "leftValue": "={{ $json.body.items[0].Action.value }}",
                    "rightValue": "Save Posting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save Posting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "34f1ca26-fe26-4bba-ae64-a50490a2d9c5",
                    "leftValue": "={{ $json.body.items[0].Action.value }}",
                    "rightValue": "Perform Analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Perform Analysis"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        360,
        -320
      ],
      "id": "70e6e33e-d76b-4941-aec1-de59d31f3060",
      "name": "Action Selected"
    },
    {
      "parameters": {
        "url": "={{ $json.body.items[0]['Posting URL'] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -600
      ],
      "id": "f0887668-4d99-482d-a263-e835849e0b71",
      "name": "Get Job Posting Page"
    },
    {
      "parameters": {
        "databaseId": 231,
        "tableId": 863,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8570,
                "value": "={{ $('Action Selected').item.json.body.table_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2440,
        440
      ],
      "id": "3fcd37a3-9d22-4564-8fac-ae019e491bcb",
      "name": "Who is making the request",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4af9297-7a2c-42c6-8fcd-29f9c0b57637",
              "name": "Name",
              "value": "={{ $json.Name }}",
              "type": "string"
            },
            {
              "id": "3c270fc5-db40-4dc5-8b74-f87e172e2bab",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2660,
        440
      ],
      "id": "c4dabec0-5740-47d2-a3cf-4d4b56cc3e75",
      "name": "Get User Information"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd335f5a-7278-4f89-8ac7-58c0e14325fa",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -320
      ],
      "id": "d26310d9-9408-4c53-8ca5-b7d56d0de984",
      "name": "Extract Baserow Info"
    },
    {
      "parameters": {
        "text": "={{ $json.body }}",
        "attributes": {
          "attributes": [
            {
              "name": "Posting Title",
              "description": "Job Posting Title",
              "required": true
            },
            {
              "name": "Company Name",
              "description": "Company name of the job posting",
              "required": true
            },
            {
              "name": "Posting Text",
              "description": "Posting text of the job posting. Include work responsibilities, description of the company, Qualifications, Salary Information.  Format this in markdown.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm that can focus on Job Postings.\nOnly extract relevant information from the text.\n\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1480,
        -600
      ],
      "id": "1cf193e6-3240-4920-a6c3-a6a47c6ff83c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1500,
        -400
      ],
      "id": "49eb01d4-246f-45d2-94f6-7593e9d219a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ojJVqUWOFMKOOLeQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1220,
        -600
      ],
      "id": "5a4691b0-9fdc-4940-9d43-26113afc07cb",
      "name": "Extract the body"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8552,
              "fieldValue": "={{ $json.output['Posting Title'] }}"
            },
            {
              "fieldId": 8553,
              "fieldValue": "={{ $json.output['Company Name'] }}"
            },
            {
              "fieldId": 8554,
              "fieldValue": "={{ $json.output['Posting Text'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1880,
        -600
      ],
      "id": "c7be2480-0f83-426c-90db-b2fd68f7b005",
      "name": "Update with Posting Information",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8550,
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3360,
        80
      ],
      "id": "543ae4a9-d7c5-460e-9ff3-bef366c25049",
      "name": "Reset Action Column",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "480345b7-4d99-4839-adbe-9f4beeff1e71",
              "leftValue": "={{ $json.body.items[0].Resume }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        80
      ],
      "id": "356c62e9-d24e-4380-9663-e6560361f3e8",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.body.items[0].Resume[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -160
      ],
      "id": "7879202a-b2e1-462a-ad94-14bfd7359b32",
      "name": "Download Resume"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3a1b8638-cabb-4e1a-8dcc-bf9ca291a0c0",
      "name": "Extract from Resume PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1240,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27c5a223-e355-415a-8a23-0f5df10dee51",
              "name": "posting",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Posting Text'] }}",
              "type": "string"
            },
            {
              "id": "e1dca750-6d70-4582-afd1-bf25f57ad71c",
              "name": "resume",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "01ae07a0-65c0-4e64-b587-da3905b47e49",
              "name": "position",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Position Title'] }}",
              "type": "string"
            },
            {
              "id": "c9befc42-9ff9-4872-99ef-2d2d42a11c30",
              "name": "company",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3c5def6-2877-4474-8db8-da40ccaab0f3",
      "name": "Save Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        -160
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=I want you to act as a Human Resources recruiter for {{ $json.company }}, hiring for the position of {{ $json.position }}. I am considering applying for this job and need your expertise to assess how well my resume aligns with the job description and identify opportunities to improve my resume for this role.\n\nFollow the steps outlined below. Use clear formatting, standardized methods for evaluation, and examples where applicable to ensure consistency.\n\n---\n\n### **Step 1: Review the Job Description**\n\nHere is the job description for your review:\n\n<job_description>\n{{ $json.posting }}\n</job_description>\n\n---\n\n### **Step 2: Review My Resume**\n\nHere is my resume for your review:\n\n<resume>\n{{ $json.resume }}\n</resume>\n\n---\n\n### **Step 3: Analyze Job Fit**\n\n#### **Step 3.1: Break Down the Job Description**\n\nOrganize the job description into the following categories:\n\n- **Job Responsibilities**: Key tasks and duties.\n- **Required Skills/Qualifications**: Must-haves (e.g., degrees, certifications, years of experience).\n- **Preferred Skills**: Nice-to-haves but not mandatory.\n- **Soft Skills**: Interpersonal or cultural competencies.\n\n#### **Step 3.2: Match Experience to Requirements**\n\nFor each category, compare your resume with the job description using a **three-tier rating system**:\n\n- **Fully Meets**: Directly demonstrated in the resume.\n- **Partially Meets**: Related experience or transferable skill is present but not fully aligned.\n- **Does Not Meet**: No evidence of experience or skill in this area.\n\nProvide the analysis in a **table format**.\n\n**Example Table for Fit Analysis**:\n\n|**Requirement**|**Your Skills/Experience**|**Rating**|**Notes**|\n|---|---|---|---|\n|5+ years of project management|6 years leading teams|Fully Meets|Matches requirement completely.|\n|Knowledge of Salesforce CRM|HubSpot CRM experience|Partially Meets|Transferable CRM knowledge.|\n|Bachelor's in Marketing|B.A. in Communications|Partially Meets|Overlap in related coursework.|\n\n#### **Step 3.3: Identify Transferable Skills**\n\nHighlight skills or experiences from the resume that may be applied to the job requirements even if they are not exact matches.\n\n**Example Output**:\n\n- _Requirement_: \"Experience leading marketing campaigns\" → Your role as a project manager involved coordinating marketing and internal campaigns, demonstrating transferable leadership skills.\n- _Requirement_: \"Knowledge of SEO\" → You have basic familiarity with keyword research and content optimization.\n\n#### **Step 3.4: Evaluate Technical Skills**\n\nCompare specific tools, software, or technical expertise mentioned in the job description with those listed in the resume.\n\n**Example Table for Technical Skills**:\n\n|**Tool/Software**|**Your Experience**|**Fit?**|\n|---|---|---|\n|Salesforce CRM|HubSpot CRM experience|Partially Meets|\n|Google Analytics|Advanced user, certified|Fully Meets|\n\n#### **Step 3.5: Assess Soft Skills**\n\nEvaluate soft skills listed in the job description and provide examples from the resume that demonstrate these.\n\n**Example Output**:\n\n- _Requirement_: \"Strong communication skills\" → In your last role, you presented monthly strategy updates to executives, showcasing excellent communication skills.\n- _Requirement_: \"Team player\" → Managed a cross-functional team to deliver projects on time, reflecting collaboration and leadership abilities.\n\n#### **Step 3.6: Address Experience Gaps**\n\nIdentify areas where qualifications are missing or underemphasized and suggest actionable ways to address these in the resume or application.\n\n---\n\n### **Step 4: Provide an Assessment**\n\n#### **4.1: Candidate Fit Summary**\n\n- **Overall Fit Percentage**: Calculate the percentage match based on this weightage:\n    - **Required Skills**: 50%\n    - **Preferred Skills**: 30%\n    - **Soft Skills**: 20%\n\n**Example Fit Calculation**:\n\n- Required Skills: 80% match → Weighted score: 40%\n    \n- Preferred Skills: 50% match → Weighted score: 15%\n    \n- Soft Skills: 90% match → Weighted score: 18%  \n    **Total Fit Percentage**: 73%\n    \n- **Strengths**: Highlight areas where the resume aligns strongly with the job requirements. Use specific quotes from the job description and the resume.\n    \n\n**Example Strengths Output**:\n\n- _Job Description_: \"Proven ability to lead teams.\"\n    \n- _Resume_: \"Led a team of 12 in executing a $1M project, achieving a 20% cost reduction.\"\n    \n- **Weaknesses**: Identify areas of misalignment or missing qualifications and suggest ways to address these.\n    \n\n**Example Weaknesses Output**:\n\n- _Job Description_: \"5+ years of experience in data analysis.\"\n- _Resume_: \"2 years of data analysis experience, primarily in a supporting role.\"\n\n#### **4.2: Salary Information**\n\n- Extract salary/pay information from the job description. If unavailable, state: _\"Salary information was not included.\"_\n\n---\n\n### **Step 5: Recommend Resume Improvements**\n\nIn this section, provide a detailed suggestions of how I can optimize my resume for both recruiters and ATS systems. Consider the following:\n\n#### **5.1: ATS Optimization**\n\n- Formatting: Ensure that the resume follows simple, traditional formatting with clear section headings (e.g., \"Work Experience,\" \"Education,\" \"Skills\"). Avoid complex layouts, graphics, or tables that could confuse ATS systems.\n- Keywords: Verify that my resume includes keywords directly from the job description. For example, if the job posting mentions \"project management,\" ensure that my resume includes this exact term (and related terms like \"program management\" or \"cross-functional leadership\").\n- Job Titles: Check that the job titles on my resume are standardized. If my role had a unique title, consider adding the industry-standard version in parentheses (e.g., \"Project Manager (Project Lead)\").     \n- Headings: Review my section headings to ensure they match the standard ones used by ATS systems (e.g., \"Work Experience\" instead of \"Where I’ve Worked\").\n- Abbreviations and Acronyms: Check my resume for abbreviations or acronyms that could confuse ATS systems. Make sure to spell out terms at least once, followed by the abbreviation in parentheses. For example, \"Search Engine Optimization (SEO)\" should be used instead of just \"SEO.\"\n- Action Verbs: Ensure that my resume uses strong action verbs like \"managed,\" \"developed,\" and \"led\" to clearly highlight achievements and contributions.\n\n\n#### **5.2: Enhancing Compellingness**\n\nProvide recommendations on how I can improve my resume to make it more compelling to recruiters.\n\n- Suggest specific ways to improve the resume:\n    - Add measurable accomplishments (e.g., \"Increased sales by 15% over 12 months\").\n    - Include missing technical or soft skills explicitly.\n    - Reframe descriptions to better align with the job requirements.\n\n---\n\n### **Instructions**\n\n- Be thorough in your analysis.\n- Be conversational, supportive yet professional in your tone.\n- Ensure that you include a status for Step 1.\n- Ensure that you include a status for Step 2.\n- Use structured tables and bullet points for clarity.\n- Provide actionable feedback that I can implement to improve my resume and application.\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "ba724574-1883-46aa-aa63-b0a948155f66",
      "name": "Resume and Job Posting Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1680,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "ojJVqUWOFMKOOLeQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 8555,
              "fieldValue": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2040,
        -160
      ],
      "id": "cba0de32-b76a-44d5-9689-2dcf4003a603",
      "name": "Update with Analysis",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "support@boogienet.com",
        "fromName": "Job Search Bot",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Posting / Resume Analysis: {{ $('Update with Analysis').item.json['Position Title'] }} ({{ $('Update with Analysis').item.json['Company Name'] }})",
        "contentType": "text/html",
        "contentValue": "={{ $json.analysis_html }}",
        "additionalFields": {
          "ccEmail": "ritchie@macapinlac.com"
        }
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        3120,
        440
      ],
      "id": "700ba0ea-967a-4b66-acac-05f3fc5f6d71",
      "name": "Email the Analysis",
      "credentials": {
        "sendGridApi": {
          "id": "VtMovXvSYGhENdcJ",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Update with Analysis').item.json.Analysis }}",
        "destinationKey": "analysis_html",
        "options": {
          "tablesHeaderId": true,
          "tables": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2900,
        440
      ],
      "id": "f4107575-1d50-4662-840c-654bbfa960e2",
      "name": "Convert Analysis to an Email Friendly Format"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.31.0",
            "content-length": "10343",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "50.98.52.195",
            "cf-ipcountry": "CA",
            "cf-ray": "940ce2bbed95fd8a-SEA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "jobsearch": "#NMtdYS2f2c606",
            "x-baserow-delivery": "93c61caf-7b9a-4f5a-bf18-b031d2698942",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "172.71.147.99",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d4560ee3116b",
            "x-real-ip": "172.71.147.99"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 861,
            "database_id": 230,
            "workspace_id": 154,
            "webhook_id": 7,
            "event_id": "93c61caf-7b9a-4f5a-bf18-b031d2698942",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "uuid": "f7c31bcf-3c38-4011-8c5a-6a4290f87263",
                "Posting URL": "https://amazon.jobs/en/jobs/2963780/software-development-manager-content-systems",
                "Action": {
                  "id": 3650,
                  "value": "Perform Analysis",
                  "color": "darker-red"
                },
                "Resume": [
                  {
                    "url": "https://db.macapinlac.network/media/user_files/iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "thumbnails": null,
                    "visible_name": "Renee Cheung Resume.pdf",
                    "name": "iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "size": 32698,
                    "mime_type": "application/pdf",
                    "is_image": false,
                    "image_width": null,
                    "image_height": null,
                    "uploaded_at": "2025-05-16T17:20:08.699062+00:00"
                  }
                ],
                "Position Title": "SOFTWARE DEVELOPMENT MANAGER, CONTENT SYSTEMS",
                "Company Name": "Amazon.com.ca, ULC",
                "Posting Text": "### Description\nAre you passionate about providing an epic experience for every interaction customers have with Amazon?\n\nWe own the largest content marketing system at Amazon driving billions of dollars through marketing sales and Prime memberships. We power content to millions of customers through Amazon website, mobile, email, and other devices across shopping, streaming and reading experiences.\n\nAs a Software Development Manager, you will be responsible for leading a team of engineers in the design, development, testing, and deployment of large-scale systems that handle billions of requests daily. We are building the next generation of content marketing systems to further scale up our business impact. You will have direct ownership over the design and architecture of new components, focusing on enhancing the platform's extensibility, scalability, availability, and latency.\n\nA successful candidate will possess an established background in engineering management, strong technical abilities, excellent project management skills and communication abilities, experience in engineering hiring, and a motivation to achieve results in a fast-paced environment.\n\nIf you interested in driving high impact delivery, are deeply technical, highly innovative and long for the opportunity to build pioneering solutions to challenging problems, we want to talk to you!\n\n### Key Job Responsibilities\n• Responsible for the overall systems development life cycle\n• Management and execution against project plans and delivery commitments aligning with business\n• Manage the day-to-day activities of the engineering team within an Agile/Scrum environment\n• Management of departmental resources, staffing, mentoring, and enhancing and maintaining a best-of-class engineering team\n• Work closely with the engineers to architect and develop the best technical design and approach\n• Report on status of development, quality, operations, and system performance to management\n\n### A Day in the Life\nIn this role, you can expect to:\n• Lead a team of excellent engineers to design and build new systems to scale and automate the future of marketing systems\n• Iterate on products using feedback from thousands of users\n• Partner with designers to drive new user experiences\n\n### About the Team\nThe Content Systems team owns the foundation of merchandising tools at Amazon. Our UIs and APIs provide Amazon employees with the best experience when creating and scheduling content for Amazon's customers. We enforce rules and guardrails through our APIs to protect the Amazon shopping experience. If you are passionate about software engineering and personalized content experiences at scale then we encourage you to apply.\n\n### Basic Qualifications\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi tier web services experience\n- Knowledge of engineering practices and patterns for the full software/hardware/networks development life cycle, including coding standards, code reviews, source control management, build processes, testing, certification, and livesite operations\n- Experience partnering with product or program management teams\n\n### Preferred Qualifications\n- Experience in communicating with users, other technical teams, and senior leadership to collect requirements, describe software product features, technical designs, and product strategy\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers to improve their skills, and make them more effective, product software engineers\n\n### Salary Information\nThe base salary for this position ranges from $171,400/year up to $286,200/year. Salary is based on a number of factors and may vary depending on job-related knowledge, skills, and experience. Amazon is a total compensation company. Dependent on the position offered, equity, sign-on payments, and other forms of compensation may be provided as part of a total compensation package, in addition to a full range of medical, financial, and/or other benefits.",
                "Analysis": null
              }
            ],
            "old_items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "uuid": "f7c31bcf-3c38-4011-8c5a-6a4290f87263",
                "Posting URL": "https://amazon.jobs/en/jobs/2963780/software-development-manager-content-systems",
                "Action": null,
                "Resume": [
                  {
                    "url": "https://db.macapinlac.network/media/user_files/iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "thumbnails": null,
                    "visible_name": "Renee Cheung Resume.pdf",
                    "name": "iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "size": 32698,
                    "mime_type": "application/pdf",
                    "is_image": false,
                    "image_width": null,
                    "image_height": null,
                    "uploaded_at": "2025-05-16T17:20:08.699062+00:00"
                  }
                ],
                "Position Title": "SOFTWARE DEVELOPMENT MANAGER, CONTENT SYSTEMS",
                "Company Name": "Amazon.com.ca, ULC",
                "Posting Text": "### Description\nAre you passionate about providing an epic experience for every interaction customers have with Amazon?\n\nWe own the largest content marketing system at Amazon driving billions of dollars through marketing sales and Prime memberships. We power content to millions of customers through Amazon website, mobile, email, and other devices across shopping, streaming and reading experiences.\n\nAs a Software Development Manager, you will be responsible for leading a team of engineers in the design, development, testing, and deployment of large-scale systems that handle billions of requests daily. We are building the next generation of content marketing systems to further scale up our business impact. You will have direct ownership over the design and architecture of new components, focusing on enhancing the platform's extensibility, scalability, availability, and latency.\n\nA successful candidate will possess an established background in engineering management, strong technical abilities, excellent project management skills and communication abilities, experience in engineering hiring, and a motivation to achieve results in a fast-paced environment.\n\nIf you interested in driving high impact delivery, are deeply technical, highly innovative and long for the opportunity to build pioneering solutions to challenging problems, we want to talk to you!\n\n### Key Job Responsibilities\n• Responsible for the overall systems development life cycle\n• Management and execution against project plans and delivery commitments aligning with business\n• Manage the day-to-day activities of the engineering team within an Agile/Scrum environment\n• Management of departmental resources, staffing, mentoring, and enhancing and maintaining a best-of-class engineering team\n• Work closely with the engineers to architect and develop the best technical design and approach\n• Report on status of development, quality, operations, and system performance to management\n\n### A Day in the Life\nIn this role, you can expect to:\n• Lead a team of excellent engineers to design and build new systems to scale and automate the future of marketing systems\n• Iterate on products using feedback from thousands of users\n• Partner with designers to drive new user experiences\n\n### About the Team\nThe Content Systems team owns the foundation of merchandising tools at Amazon. Our UIs and APIs provide Amazon employees with the best experience when creating and scheduling content for Amazon's customers. We enforce rules and guardrails through our APIs to protect the Amazon shopping experience. If you are passionate about software engineering and personalized content experiences at scale then we encourage you to apply.\n\n### Basic Qualifications\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi tier web services experience\n- Knowledge of engineering practices and patterns for the full software/hardware/networks development life cycle, including coding standards, code reviews, source control management, build processes, testing, certification, and livesite operations\n- Experience partnering with product or program management teams\n\n### Preferred Qualifications\n- Experience in communicating with users, other technical teams, and senior leadership to collect requirements, describe software product features, technical designs, and product strategy\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers to improve their skills, and make them more effective, product software engineers\n\n### Salary Information\nThe base salary for this position ranges from $171,400/year up to $286,200/year. Salary is based on a number of factors and may vary depending on job-related knowledge, skills, and experience. Amazon is a total compensation company. Dependent on the position offered, equity, sign-on payments, and other forms of compensation may be provided as part of a total compensation package, in addition to a full range of medical, financial, and/or other benefits.",
                "Analysis": null
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/d8598f70-d498-48c4-9e9a-4fa110cb03ef",
          "executionMode": "production"
        }
      }
    ],
    "Resume and Job Posting Analysis": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "### **Step 1: Review the Job Description**\n\nStatus: **Completed** \n\n---\n\n### **Step 2: Review of Resume**\n\nStatus: **Completed** \n\n---\n\n### **Step 3: Analyze Job Fit**\n\n#### **Step 3.1: Break Down the Job Description**\n\n**Job Responsibilities**:\n- Leading a team of engineers in the design, development, testing, and deployment of large-scale systems\n- Engaging within an Agile/Scrum environment\n- Reporting on status of development, quality, operations, and system performance\n- Collaborating with other engineers, designers, and stakeholders\n- Managing the day-to-day activities of the engineering team\n\n**Required Skills/Qualifications**:\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi-tier web services experience\n- Knowledge of the full software/hardware/networks development life cycle\n\n**Preferred Skills**:\n- Experience communicating with users, other technical teams, and senior leadership\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers\n\n**Soft Skills**:\n- Excellent project management skills and communication abilities\n- A motivation to achieve results in a fast-paced environment\n\n#### **Step 3.2: Match Experience to Requirements**\n\n**Table for Fit Analysis**:\n\n|**Requirement**|**Your Skills/Experience**|**Rating**|**Notes**|\n|---|---|---|---|\n|3+ years of engineering team management|20+ years of managing cross-functional teams|Fully Meets|More than required years of experience.|\n|7+ years of engineering experience|20+ years in digital solutions, including tech lead roles|Fully Meets|More than required years of experience.|\n|8+ years of web services development experience|Experience in leading the re-platform of a large-scale website |Partially Meets|Relevant but not exactly as required.|\n|Knowledge of full software development life cycle|Experience in managing customer-facing digital services|Fully Meets|Matches requirement completely.|\n|Experience communicating with stakeholders|Experience in partnering with business stakeholders and internal IT|Fully Meets|Matches requirement completely.|\n|Recruiting, hiring, mentoring/coaching teams|Managed large teams, no explicit mention of recruiting, hiring, or mentoring|Partially Meets|Partially meets, but could be made more explicit in the resume.|\n\n#### **Step 3.3: Identify Transferable Skills**\n\n- _Requirement_: \"Responsible for the overall systems development life cycle\" → You have managed the systems lifecycle for customer-facing digital services at ICBC, showcasing a transferrable skill.\n- _Requirement_: \"Management of departmental resources, staffing, and enhancing and maintaining a best-of-class engineering team\" → As a Digital Solutions Manager, you have led and managed various teams and resources, demonstrating transferable management skills.\n\n#### **Step 3.4: Evaluate Technical Skills**\n\n**Table for Technical Skills**:\n\n|**Tool/Software**|**Your Experience**|**Fit?**|\n|---|---|---|\n|N/A|N/A|N/A|\n\n*No specific technical tools, software, or methods were mentioned in the job description.*\n\n#### **Step 3.5: Assess Soft Skills**\n\n- _Requirement_: \"Excellent project management skills and communication abilities\" → As a digital solutions manager, you managed various digital initiatives and partnered with numerous stakeholders. This demonstrates strong project management and communication abilities.\n- _Requirement_: \"Motivation to achieve results in a fast-paced environment\" → You efficiently managed a $4M initiative, involving various teams and stakeholders, which reflects your ability to achieve results in a fast-paced environment.\n\n#### **Step 3.6: Address Experience Gaps**\n\n- More explicit mention of experience with recruiting, hiring, mentoring, and coaching team members could make your resume stronger. Include examples of these activities, if applicable.\n- While you have relevant experience, the job requires specific experience in developing multi-tier web services. More details about your role and achievements in this area would be helpful.\n\n---\n\n### **Step 4: Provide an Assessment**\n\n#### **4.1: Candidate Fit Summary**\n\n- **Overall Fit Percentage**: \n\n    - Required Skills: 90% match → Weighted score: 45%\n    - Preferred Skills: 70% match → Weighted score: 21%\n    - Soft Skills: 100% match → Weighted score: 20%  \n    **Total Fit Percentage**: 86%\n\n- **Strengths**: \n    - We noted significant management experience which aligns with the requirement for \"3+ years of engineering team management\".\n    - We also noticed relevant experience in communication with stakeholders, which matches the preferred qualification \"Experience in communicating with users, other technical teams, and senior leadership.\"\n\n- **Weaknesses**:\n    - Your experience in web services development is implicitly referenced and could be elaborated on.\n    - No explicit mention of recruiting, hiring, mentoring, and coaching teams in your resume.\n\n#### **4.2: Salary Information**\n\n- Salary information is included, ranging from $171,400/year up to $286,200/year.\n\n---\n\n### **Step 5: Recommend Resume Improvements**\n\n#### **5.1: ATS Optimization**\n\n- Your resume currently uses clear and traditional formatting, which should be efficient for ATS.\n- Continue using keywords directly from the job description where applicable and natural.\n- Job titles and headings are standardized already, no additional need.\n- Abbreviations and Acronyms are properly spelled out.\n\n#### **5.2: Enhancing Compellingness**\n\n- Adding measurable accomplishments, especially relating to significant cost savings, performance improvements, or successful project completions can strengthen your resume.\n- Making explicit your experience with recruiting, hiring, mentoring, and managing teams would be beneficial.\n- Highlight your specific accomplishments and improvements made in the area of multi-tier web services development.",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    },
    {
      "createdAt": "2025-05-16T15:20:34.893Z",
      "updatedAt": "2025-05-16T15:20:34.893Z",
      "id": "fHbNH0OHojdeVCah",
      "name": "AI System"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-16T18:43:22.000Z",
  "versionId": "829510e3-e110-437b-9137-3d82c5323979"
}