workflows/Job Application Pipeline.json
{
  "active": true,
  "connections": {
    "Baserow - Get row (trigger)": {
      "main": [
        [
          {
            "node": "Switch - Baserow Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Baserow - Get row (trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Baserow Event": {
      "main": [
        [
          {
            "node": "Execute Workflow - Resume Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow - Setup Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-22T14:34:28.719Z",
  "id": "vcec0dkSIQHBSmk1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job Application Pipeline",
  "nodes": [
    {
      "parameters": {
        "databaseId": 124,
        "tableId": 592,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 5615,
                "value": "={{ $json.body.items[0].uuid }}"
              }
            ]
          }
        }
      },
      "id": "82595385-b4a2-438d-9571-a2c52f3253fe",
      "name": "Baserow - Get row (trigger)",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        360,
        1100
      ],
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.event_type }}",
                    "rightValue": "rows.updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Row Update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed7a3726-be25-4855-8d1d-07bbc9f26fa5",
                    "leftValue": "={{ $('Webhook').item.json.body.event_type }}",
                    "rightValue": "rows.created",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Row"
            }
          ]
        },
        "options": {}
      },
      "id": "c12d3d73-538d-4fe1-8ea9-4ac2f873b40b",
      "name": "Switch - Baserow Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        560,
        1100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4Eh3Z4Yo6VJZsxOq",
          "mode": "list",
          "cachedResultName": "Resume Analysis"
        },
        "options": {}
      },
      "id": "ccfe9abf-acaf-4b36-ba21-b845a95de4e2",
      "name": "Execute Workflow - Resume Analysis",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        880,
        900
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Nk7mJVSD56Bl63sy",
          "mode": "list",
          "cachedResultName": "Setup Job Application Folder"
        },
        "options": {}
      },
      "id": "d7d26c69-f723-4fd8-ad99-488d4d98d2ba",
      "name": "Execute Workflow - Setup Folder",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        880,
        1300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "96686a27-41d4-491e-9f8f-7cbf50a028a7",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "70f4298a-f4b4-4a11-968b-6cef75caa71d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        160,
        1100
      ],
      "webhookId": "535f349d-458a-4afa-b419-11c3c4d06f81",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Bo6EzO1uNxkaXtR",
          "name": "JobSearch Baserow Webhook"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.31.0",
            "content-length": "18296",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "216.232.192.78",
            "cf-ipcountry": "CA",
            "cf-ray": "8e50de1e9b028443-YVR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "jobsearch": "#NMtdYS2f2c606",
            "x-baserow-delivery": "8b121417-b479-40d6-8439-4637a74e76ff",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "162.158.146.114",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "cddf95658d4f",
            "x-real-ip": "162.158.146.114"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 592,
            "database_id": 124,
            "workspace_id": 31,
            "event_id": "8b121417-b479-40d6-8439-4637a74e76ff",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 10,
                "order": "10.00000000000000000000",
                "uuid": "bae3bac1-928f-433f-b831-ce2de3548a28",
                "Position": "",
                "Company": "Jane App",
                "NextCloud_Path": "/Jobs/",
                "Closing Date": null,
                "Posting Text": "We are excited to announce this new opportunity for a Development Manager to join Jane’s Accounts Group and lead our Marketing Development team. This team’s current charter today consists of developing the Jane Marketing Website, which is a stable and established application. This application is used for our Demo Booking flow, which is often the initial touch point in our customer journey. You will be leading and mentoring small team of developers, helping them grow and mature through continuous improvement. In addition, as a Development Manager at Jane you will be helping establish best practices and implementing processes for you team to enable them to do their best work.\n\nIn 2025 we see an opportunity to grow the responsibilities of this team. In particular, we are extending their current charter to reimagine the Sign Up flow. You will be driving the direction and execution of the new user Sign Up Experience, while providing continuous delight in our customer journey. This would include running A/B test experiments, to improve and optimize our conversion and activation rates. For this position, we are looking for a technical leader who is experienced in leading development teams in an agile environment.\n\nLike with all positions at Jane, this position is a remote position, allowing you to work anywhere you want across Canada. Building a delighted team who can delight our customers is part of Jane’s DNA. In our most recent company-wide health check, 99% of our team agreed that our founders demonstrate people are important to Jane’s success. On top of that, 98% of our team felt Manager cares about them as human beings and that they are supported when needing to arrange time off from work. We’d never claim to be perfect, but we’re working hard to listen to our people and improve each day.\n\nWe really want the people who work at Jane to love being here, so it's important that we start with a bit about what makes our company unique and try to be as transparent as possible. Our values also provide some insights into Jane and hopefully, you’ll have a better idea if this might be the kind of company you want to be part of.\n\nBefore we were Jane, our Co-Founders were solving problems for their own clinics not realizing that a few years later, this team would grow to support tens of thousands of healthcare practices in more than 60 countries. Our platform is now helping to modernize the world of practice management software. We enable the likes of physiotherapists, mental health counsellors, chiropractors, and other allied health practitioners to run their practices in a digital-first way through features such as online booking, charting, scheduling, telehealth, and billing along with an evolving library of features. You can see more of them here . Although we’ve grown, still to this day, we’re rooted in solving clinics’ problems and making sure we don’t lose sight of Jane’s vision.\n\nWe have remained profitable for the past seven years, we’re product-led and growing organically (and responsibly) to the point where 85% of our customer growth is either from customer referrals or word of mouth. Growth like this is unique, especially in the world of SaaS, and it doesn’t happen by chance. We have a brilliant team of over 400 Janers who are doing an amazing job of listening to our customers, building what they need, and providing industry-leading support. We pride ourselves on flexibility & autonomy, some of our team block out their calendars to pick up their children from school (and this is normal at Jane), and we even have a #kids channel in Slack.\n\nWe’re not a clock-in clock-out system-type environment. With that being said, we’re not going to paint the picture of a perfect environment either. We’re a company that’s scaling quickly, we have many moving parts, many of us are doing this for the first time and sometimes, we don’t have processes in place or clear views which can require a lot of resourcefulness and a passion for problem-solving.\n\nWith all that to say, if you’re looking for an environment where you can grow, stretch yourself, and work with some incredibly talented people on problems that are positively impacting people's lives, Jane could be the place for you.\n\nThe Impact You Could Have\n\n    Lead and mentor a team of 2-3 developers, fostering a collaborative and supportive environment.\n    Help define the teams identity and establish the team’s culture.\n    Implement best practices and processes that will help deliver value to our marketing team and customers.\n    Maintain an existing application, while taking on new initiatives and developing new features.\n    Your role will have a direct impact and deliver value for every single customer that signs up with Jane.\n    The work you do will help Jane grow, by helping Jane scale as we continue to provide great experiences to our customers.\n    Work closely with product leaders to shape the roadmap, provide estimates, and swiftly execute ideas to drive customer impact.\n\nThe Experience We Feel We Need\n\n    3+ years experience managing development teams.\n    5+ years experience working with Agile methodologies.\n    Experience as a technical leader, worked across different platforms, including the Ruby on Rails and React JS ecosystem.\n    Experience in delivering incremental value to our users with small slices, and iterating on the feedback that was received.\n    You are deeply curious about customer behaviour and using that date to make data driven decisions.\n    Experience working in a marketing department or closely with marketing teams (content, design, strategy).\n    Broad understanding of marketing concepts, solutions and products.\n\nCompensation Expectations For The Role\n\nJane’s committed to paying our team members fairly, clearly, and above all, paying for growth. This role has a minimum annual salary of $146,300 and maximum annual salary of $228,600. As you may have noticed, this salary range is quite large, and this is intentional to account for the growth someone will experience in the role throughout their time at Jane (i.e., from building the skills, to accomplished, to highly proficient, all the way to achieving excellence in the role). When hiring talented folks to join the Jane team, we’ve found that new team members are best set up for success when hired with the expectation of being fully accomplished in the role, which for this role would reflect a starting salary of $173,800.\n\nIt's also possible to join Jane at a salary above or below this, which would mean a salary below $173,800 typically reflects someone who has all the potential to be fully accomplished in the role but doesn't yet possess all the skills required, while a salary above $173,800 is typically for individuals who are currently in this role at Jane and had the opportunity to make a significant positive impact on our customers, product and company with deep Jane knowledge. At Jane, we pay for growth, which means that you’ll continue to have conversations about your career development with your manager and see your compensation grow over time as you build an amazing career with us.\n\nPaying clearly is one of our compensation fundamentals to help folks build trust in the compensation process at Jane. To better understand Jane’s compensation fundamentals and how this range is determined, click on this link here for a short video walkthrough of how it all works! We also welcome you to ask as many questions as you’d like about compensation throughout the interview process to ensure you feel confident and build trust through the process.\n\nMore information on our benefits can be found here !\n\nAt Jane, we’re committed to fostering an environment that allows you to come to work as your truest self. We believe it’s important to actively recognize, embrace, and celebrate our differences in order to make Jane an inclusive, equitable, and diverse workplace.\n\nWe want to build a team of people who make conversations rich with perspective and experience. We are committed to listening to every voice in order to learn and grow because doing this will allow us to meet the needs of the diverse community of helpers that Jane serves.\n\nWe do not tolerate discrimination, prejudice, or oppressive isms of any kind. Employment is decided on the basis of qualifications, merit, experience, and the needs of the Jane community. We encourage anyone who requires accommodation or adjustments throughout the interview process to let us know, and we will do our best to support you.",
                "Posting URL": "https://www.linkedin.com/jobs/view/3999453921/",
                "Resume Version": "1.0.0",
                "Cover Letter Version": "1.0.0",
                "Stage": null
              }
            ],
            "old_items": [
              {
                "id": 10,
                "order": "10.00000000000000000000",
                "uuid": "0860deca-4979-4621-8cbc-f0632891d11a",
                "Position": "",
                "Company": "Jane App",
                "NextCloud_Path": "/Jobs/",
                "Closing Date": null,
                "Posting Text": "We are excited to announce this new opportunity for a Development Manager to join Jane’s Accounts Group and lead our Marketing Development team. This team’s current charter today consists of developing the Jane Marketing Website, which is a stable and established application. This application is used for our Demo Booking flow, which is often the initial touch point in our customer journey. You will be leading and mentoring small team of developers, helping them grow and mature through continuous improvement. In addition, as a Development Manager at Jane you will be helping establish best practices and implementing processes for you team to enable them to do their best work.\n\nIn 2025 we see an opportunity to grow the responsibilities of this team. In particular, we are extending their current charter to reimagine the Sign Up flow. You will be driving the direction and execution of the new user Sign Up Experience, while providing continuous delight in our customer journey. This would include running A/B test experiments, to improve and optimize our conversion and activation rates. For this position, we are looking for a technical leader who is experienced in leading development teams in an agile environment.\n\nLike with all positions at Jane, this position is a remote position, allowing you to work anywhere you want across Canada. Building a delighted team who can delight our customers is part of Jane’s DNA. In our most recent company-wide health check, 99% of our team agreed that our founders demonstrate people are important to Jane’s success. On top of that, 98% of our team felt Manager cares about them as human beings and that they are supported when needing to arrange time off from work. We’d never claim to be perfect, but we’re working hard to listen to our people and improve each day.\n\nWe really want the people who work at Jane to love being here, so it's important that we start with a bit about what makes our company unique and try to be as transparent as possible. Our values also provide some insights into Jane and hopefully, you’ll have a better idea if this might be the kind of company you want to be part of.\n\nBefore we were Jane, our Co-Founders were solving problems for their own clinics not realizing that a few years later, this team would grow to support tens of thousands of healthcare practices in more than 60 countries. Our platform is now helping to modernize the world of practice management software. We enable the likes of physiotherapists, mental health counsellors, chiropractors, and other allied health practitioners to run their practices in a digital-first way through features such as online booking, charting, scheduling, telehealth, and billing along with an evolving library of features. You can see more of them here . Although we’ve grown, still to this day, we’re rooted in solving clinics’ problems and making sure we don’t lose sight of Jane’s vision.\n\nWe have remained profitable for the past seven years, we’re product-led and growing organically (and responsibly) to the point where 85% of our customer growth is either from customer referrals or word of mouth. Growth like this is unique, especially in the world of SaaS, and it doesn’t happen by chance. We have a brilliant team of over 400 Janers who are doing an amazing job of listening to our customers, building what they need, and providing industry-leading support. We pride ourselves on flexibility & autonomy, some of our team block out their calendars to pick up their children from school (and this is normal at Jane), and we even have a #kids channel in Slack.\n\nWe’re not a clock-in clock-out system-type environment. With that being said, we’re not going to paint the picture of a perfect environment either. We’re a company that’s scaling quickly, we have many moving parts, many of us are doing this for the first time and sometimes, we don’t have processes in place or clear views which can require a lot of resourcefulness and a passion for problem-solving.\n\nWith all that to say, if you’re looking for an environment where you can grow, stretch yourself, and work with some incredibly talented people on problems that are positively impacting people's lives, Jane could be the place for you.\n\nThe Impact You Could Have\n\n    Lead and mentor a team of 2-3 developers, fostering a collaborative and supportive environment.\n    Help define the teams identity and establish the team’s culture.\n    Implement best practices and processes that will help deliver value to our marketing team and customers.\n    Maintain an existing application, while taking on new initiatives and developing new features.\n    Your role will have a direct impact and deliver value for every single customer that signs up with Jane.\n    The work you do will help Jane grow, by helping Jane scale as we continue to provide great experiences to our customers.\n    Work closely with product leaders to shape the roadmap, provide estimates, and swiftly execute ideas to drive customer impact.\n\nThe Experience We Feel We Need\n\n    3+ years experience managing development teams.\n    5+ years experience working with Agile methodologies.\n    Experience as a technical leader, worked across different platforms, including the Ruby on Rails and React JS ecosystem.\n    Experience in delivering incremental value to our users with small slices, and iterating on the feedback that was received.\n    You are deeply curious about customer behaviour and using that date to make data driven decisions.\n    Experience working in a marketing department or closely with marketing teams (content, design, strategy).\n    Broad understanding of marketing concepts, solutions and products.\n\nCompensation Expectations For The Role\n\nJane’s committed to paying our team members fairly, clearly, and above all, paying for growth. This role has a minimum annual salary of $146,300 and maximum annual salary of $228,600. As you may have noticed, this salary range is quite large, and this is intentional to account for the growth someone will experience in the role throughout their time at Jane (i.e., from building the skills, to accomplished, to highly proficient, all the way to achieving excellence in the role). When hiring talented folks to join the Jane team, we’ve found that new team members are best set up for success when hired with the expectation of being fully accomplished in the role, which for this role would reflect a starting salary of $173,800.\n\nIt's also possible to join Jane at a salary above or below this, which would mean a salary below $173,800 typically reflects someone who has all the potential to be fully accomplished in the role but doesn't yet possess all the skills required, while a salary above $173,800 is typically for individuals who are currently in this role at Jane and had the opportunity to make a significant positive impact on our customers, product and company with deep Jane knowledge. At Jane, we pay for growth, which means that you’ll continue to have conversations about your career development with your manager and see your compensation grow over time as you build an amazing career with us.\n\nPaying clearly is one of our compensation fundamentals to help folks build trust in the compensation process at Jane. To better understand Jane’s compensation fundamentals and how this range is determined, click on this link here for a short video walkthrough of how it all works! We also welcome you to ask as many questions as you’d like about compensation throughout the interview process to ensure you feel confident and build trust through the process.\n\nMore information on our benefits can be found here !\n\nAt Jane, we’re committed to fostering an environment that allows you to come to work as your truest self. We believe it’s important to actively recognize, embrace, and celebrate our differences in order to make Jane an inclusive, equitable, and diverse workplace.\n\nWe want to build a team of people who make conversations rich with perspective and experience. We are committed to listening to every voice in order to learn and grow because doing this will allow us to meet the needs of the diverse community of helpers that Jane serves.\n\nWe do not tolerate discrimination, prejudice, or oppressive isms of any kind. Employment is decided on the basis of qualifications, merit, experience, and the needs of the Jane community. We encourage anyone who requires accommodation or adjustments throughout the interview process to let us know, and we will do our best to support you.",
                "Posting URL": "https://www.linkedin.com/jobs/view/3999453921/",
                "Resume Version": "1.0.0",
                "Cover Letter Version": "",
                "Stage": null
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/96686a27-41d4-491e-9f8f-7cbf50a028a7",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-22T15:53:00.000Z",
  "versionId": "011ba3ba-63e9-4842-b09c-4ae5ae5edeff"
}