workflows/My workflow 2.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-19T22:18:04.639Z",
  "id": "TnNPH0HNlbjWZmMy",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "dc9365f3-44ca-4d95-96e1-cde2e953ecad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "databaseId": 265,
        "tableId": 955,
        "returnAll": true,
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "760710fe-5b76-412f-aa4f-d63dc165fcde",
      "name": "Get many rows",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de262e85-3621-48af-bcfd-e7289122cfbe",
              "name": "Name",
              "value": "={{ $json.Name.urlDecode() }}",
              "type": "string"
            },
            {
              "id": "0f61ec31-0242-40ed-a29c-a0f7498bb75d",
              "name": "Path Name",
              "value": "={{ $json['Path Name'].urlDecode() }}",
              "type": "string"
            },
            {
              "id": "92edbd87-e54e-4de3-8713-0c1ddfaaaa71",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "de828dcf-fdb1-47a7-b9f0-c6c6e077767b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 265,
        "tableId": 955,
        "rowId": "={{ $json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 9372,
              "fieldValue": "={{ $json.Name }}"
            },
            {
              "fieldId": 9373,
              "fieldValue": "={{ $json['Path Name'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "5bf8c962-ea2d-441e-af4a-dd77b42d0c65",
      "name": "Update a row",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-19T22:18:04.645Z",
      "createdAt": "2025-12-19T22:18:04.645Z",
      "role": "workflow:owner",
      "workflowId": "TnNPH0HNlbjWZmMy",
      "projectId": "rkuUtfbV4pRJvn4a"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-19T22:21:01.457Z",
  "versionId": "9a7e1692-9d22-4205-97c3-4e6e47347f38"
}