workflows/Process Markdown Notes in Nextcloud Inbox.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-04T15:34:51.095Z",
    "createdAt": "2025-12-04T15:34:51.095Z",
    "versionId": "8f8b000f-8fbc-4ec4-9805-e474d18f30c4",
    "workflowId": "JcBtjw2M765Pkw9R",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "ae3605dd-f6c0-49ff-99e5-e31b22be6e64",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "folder",
          "operation": "list",
          "path": "/Journal/Inbox"
        },
        "type": "n8n-nodes-base.nextCloud",
        "typeVersion": 1,
        "position": [
          220,
          0
        ],
        "id": "f0637777-6337-4df8-b270-1abfe9a2b867",
        "name": "Nextcloud - Inbox Files",
        "credentials": {
          "nextCloudOAuth2Api": {
            "id": "fLXJCCubxnE7gtwF",
            "name": "NextCloud account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5d9b4276-cba6-4b2f-b668-7e518c788201",
                "leftValue": "={{ $json.contentType }}",
                "rightValue": "text/markdown",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          440,
          0
        ],
        "id": "7a7bf8c8-b966-4b9a-9e8c-5bf36ed1a1bd",
        "name": "Filter - Only Markdown Files"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "operation": "download",
          "path": "={{ $json.path.urlDecode() }}"
        },
        "type": "n8n-nodes-base.nextCloud",
        "typeVersion": 1,
        "position": [
          660,
          0
        ],
        "id": "b5898f7e-6e88-4917-9c5c-c11c30524548",
        "name": "Nextcloud - Download Markdown",
        "credentials": {
          "nextCloudOAuth2Api": {
            "id": "fLXJCCubxnE7gtwF",
            "name": "NextCloud account"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "destinationKey": "contents",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "id": "8585c87f-a245-44cb-9491-1359bc64314f",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "text": "={{ $json.contents }}"
        },
        "type": "@icttroacon/n8n-nodes-front-matter.frontMatter",
        "typeVersion": 1,
        "position": [
          1100,
          0
        ],
        "id": "c5e4b67d-311a-4bf4-b8f9-be7e3e6750e0",
        "name": "Front Matter Node"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "92706053-c4f9-4be5-85dc-27cb0bdb7ba4",
                "leftValue": "={{ $json.data.status.toLowerCase() }}",
                "rightValue": "complete",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "34feb18e-c33e-4bdb-8d1f-35b017621d6a",
        "name": "If completed",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1320,
          0
        ]
      },
      {
        "parameters": {},
        "id": "52649c49-fe9b-46f9-8f6f-e9df34d9bade",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1660,
          200
        ]
      },
      {
        "parameters": {
          "resource": "activity",
          "activityTypeId": "={{ $json.data.monica.activity_id }}",
          "contacts": "={{ $json.data.monica.contact_id.toString() }}",
          "happenedAt": "={{ $json.data.meeting_date.toDateTime().format('yyyy-MM-dd') }}",
          "summary": "={{ $json.data.monica.summary }}",
          "additionalFields": {}
        },
        "id": "3e2f929e-085d-4512-9a58-13883c032814",
        "name": "Monica CRM",
        "type": "n8n-nodes-base.monicaCrm",
        "typeVersion": 1,
        "position": [
          1640,
          -240
        ],
        "credentials": {
          "monicaCrmApi": {
            "id": "MQNOIs99uoEzemTz",
            "name": "Monica CRM account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 33,
          "tableId": 583,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 5544,
                  "value": "={{ $json.data.name }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1640,
          -20
        ],
        "id": "dfee3eb3-33f3-485d-a6f7-b24ec5bea2ec",
        "name": "Baserow",
        "credentials": {
          "baserowApi": {
            "id": "d2WUYcb60dACjFtq",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "operation": "move",
          "path": "={{ $('Nextcloud - Download Markdown').item.json.path.urlDecode() }}",
          "toPath": "={{ $json.nextcloud_path }}{{ $('Front Matter Node').item.json.data.meeting_date.toDateTime().format('yyyy-MM-dd') }}.md"
        },
        "type": "n8n-nodes-base.nextCloud",
        "typeVersion": 1,
        "position": [
          1860,
          -20
        ],
        "id": "f9e4850c-4be8-4565-851d-f629ad0072a9",
        "name": "Nextcloud",
        "credentials": {
          "nextCloudOAuth2Api": {
            "id": "fLXJCCubxnE7gtwF",
            "name": "NextCloud account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 2
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          -200
        ],
        "id": "ad5e2477-f4e3-44b4-9521-516dc4a1fdb0",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Nextcloud - Inbox Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nextcloud - Inbox Files": {
        "main": [
          [
            {
              "node": "Filter - Only Markdown Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter - Only Markdown Files": {
        "main": [
          [
            {
              "node": "Nextcloud - Download Markdown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nextcloud - Download Markdown": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Front Matter Node",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Front Matter Node": {
        "main": [
          [
            {
              "node": "If completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If completed": {
        "main": [
          [
            {
              "node": "Monica CRM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Baserow",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baserow": {
        "main": [
          [
            {
              "node": "Nextcloud",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Nextcloud - Inbox Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "8f8b000f-8fbc-4ec4-9805-e474d18f30c4",
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Nextcloud - Inbox Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Inbox Files": {
      "main": [
        [
          {
            "node": "Filter - Only Markdown Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only Markdown Files": {
      "main": [
        [
          {
            "node": "Nextcloud - Download Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Download Markdown": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Front Matter Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Front Matter Node": {
      "main": [
        [
          {
            "node": "If completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If completed": {
      "main": [
        [
          {
            "node": "Monica CRM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Nextcloud - Inbox Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-07T19:51:49.651Z",
  "id": "JcBtjw2M765Pkw9R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Process Markdown Notes in Nextcloud Inbox",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ae3605dd-f6c0-49ff-99e5-e31b22be6e64",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "operation": "list",
        "path": "/Journal/Inbox"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "f0637777-6337-4df8-b270-1abfe9a2b867",
      "name": "Nextcloud - Inbox Files",
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d9b4276-cba6-4b2f-b668-7e518c788201",
              "leftValue": "={{ $json.contentType }}",
              "rightValue": "text/markdown",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "7a7bf8c8-b966-4b9a-9e8c-5bf36ed1a1bd",
      "name": "Filter - Only Markdown Files"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "download",
        "path": "={{ $json.path.urlDecode() }}"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "b5898f7e-6e88-4917-9c5c-c11c30524548",
      "name": "Nextcloud - Download Markdown",
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "contents",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "8585c87f-a245-44cb-9491-1359bc64314f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.contents }}"
      },
      "type": "@icttroacon/n8n-nodes-front-matter.frontMatter",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "c5e4b67d-311a-4bf4-b8f9-be7e3e6750e0",
      "name": "Front Matter Node"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92706053-c4f9-4be5-85dc-27cb0bdb7ba4",
              "leftValue": "={{ $json.data.status.toLowerCase() }}",
              "rightValue": "complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "34feb18e-c33e-4bdb-8d1f-35b017621d6a",
      "name": "If completed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {},
      "id": "52649c49-fe9b-46f9-8f6f-e9df34d9bade",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        200
      ]
    },
    {
      "parameters": {
        "resource": "activity",
        "activityTypeId": "={{ $json.data.monica.activity_id }}",
        "contacts": "={{ $json.data.monica.contact_id.toString() }}",
        "happenedAt": "={{ $json.data.meeting_date.toDateTime().format('yyyy-MM-dd') }}",
        "summary": "={{ $json.data.monica.summary }}",
        "additionalFields": {}
      },
      "id": "3e2f929e-085d-4512-9a58-13883c032814",
      "name": "Monica CRM",
      "type": "n8n-nodes-base.monicaCrm",
      "typeVersion": 1,
      "position": [
        1640,
        -240
      ],
      "credentials": {
        "monicaCrmApi": {
          "id": "MQNOIs99uoEzemTz",
          "name": "Monica CRM account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 33,
        "tableId": 583,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 5544,
                "value": "={{ $json.data.name }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1640,
        -20
      ],
      "id": "dfee3eb3-33f3-485d-a6f7-b24ec5bea2ec",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "move",
        "path": "={{ $('Nextcloud - Download Markdown').item.json.path.urlDecode() }}",
        "toPath": "={{ $json.nextcloud_path }}{{ $('Front Matter Node').item.json.data.meeting_date.toDateTime().format('yyyy-MM-dd') }}.md"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        1860,
        -20
      ],
      "id": "f9e4850c-4be8-4565-851d-f629ad0072a9",
      "name": "Nextcloud",
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ],
      "id": "ad5e2477-f4e3-44b4-9521-516dc4a1fdb0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2024-12-07T19:51:49.657Z",
      "createdAt": "2024-12-07T19:51:49.657Z",
      "role": "workflow:owner",
      "workflowId": "JcBtjw2M765Pkw9R",
      "projectId": "rkuUtfbV4pRJvn4a"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "updatedAt": "2024-12-07T20:35:10.543Z",
      "createdAt": "2024-12-07T20:35:10.543Z",
      "id": "3J5m8c8YNebX22pe",
      "name": "NextCloud Inbox"
    },
    {
      "updatedAt": "2024-12-07T20:29:42.195Z",
      "createdAt": "2024-12-07T20:29:42.195Z",
      "id": "6MFJ0FQpF15MlP3q",
      "name": "One on one"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-15T17:05:14.000Z",
  "versionId": "8f8b000f-8fbc-4ec4-9805-e474d18f30c4"
}