workflows/Resume and Job Application Analysis System.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Baserow Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Selected": {
      "main": [
        [
          {
            "node": "Get Job Posting Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Information": {
      "main": [
        [
          {
            "node": "Convert Analysis to an Email Friendly Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Baserow Info": {
      "main": [
        [
          {
            "node": "Action Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Posting Page": {
      "main": [
        [
          {
            "node": "Extract the body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract the body": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Who is making the request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update with Posting Information": {
      "main": [
        [
          {
            "node": "Reset Action Column (Save Resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Who is making the request (No Resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Resume PDF": {
      "main": [
        [
          {
            "node": "Save Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Variables": {
      "main": [
        [
          {
            "node": "Resume and Job Posting Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract from Resume PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume and Job Posting Analysis": {
      "main": [
        [
          {
            "node": "Who is making the request (analysis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update with Analysis": {
      "main": [
        [
          {
            "node": "Get User Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email the Analysis": {
      "main": [
        [
          {
            "node": "Reset Action Column (Perform Analysis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Analysis to an Email Friendly Format": {
      "main": [
        [
          {
            "node": "Email the Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Who is making the request": {
      "main": [
        [
          {
            "node": "Update with Posting Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Who is making the request (analysis)": {
      "main": [
        [
          {
            "node": "Update with Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Who is making the request (No Resume)": {
      "main": [
        [
          {
            "node": "Reset Action Column (No resume)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-16T14:35:24.372Z",
  "id": "VUtMwEGJCT4egEO0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Resume and Job Application Analysis System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d8598f70-d498-48c4-9e9a-4fa110cb03ef",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -320
      ],
      "id": "ec3c9f09-eb3c-42e7-814b-92ce356cb080",
      "name": "Webhook",
      "webhookId": "d8598f70-d498-48c4-9e9a-4fa110cb03ef",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Bo6EzO1uNxkaXtR",
          "name": "JobSearch Baserow Webhook"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9f0a14b-a6f3-4815-aa75-0e72b0a28018",
                    "leftValue": "={{ $json.body.items[0].Action.value }}",
                    "rightValue": "Save Posting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save Posting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "34f1ca26-fe26-4bba-ae64-a50490a2d9c5",
                    "leftValue": "={{ $json.body.items[0].Action.value }}",
                    "rightValue": "Perform Analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Perform Analysis"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        360,
        -320
      ],
      "id": "70e6e33e-d76b-4941-aec1-de59d31f3060",
      "name": "Action Selected"
    },
    {
      "parameters": {
        "url": "={{ $json.body.items[0]['Posting URL'] }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -600
      ],
      "id": "f0887668-4d99-482d-a263-e835849e0b71",
      "name": "Get Job Posting Page"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4af9297-7a2c-42c6-8fcd-29f9c0b57637",
              "name": "Name",
              "value": "={{ $('Who is making the request (analysis)').item.json.Name }}",
              "type": "string"
            },
            {
              "id": "3c270fc5-db40-4dc5-8b74-f87e172e2bab",
              "name": "Email",
              "value": "={{ $('Who is making the request (analysis)').item.json.Email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2620,
        -160
      ],
      "id": "c4dabec0-5740-47d2-a3cf-4d4b56cc3e75",
      "name": "Get User Information"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd335f5a-7278-4f89-8ac7-58c0e14325fa",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -320
      ],
      "id": "d26310d9-9408-4c53-8ca5-b7d56d0de984",
      "name": "Extract Baserow Info"
    },
    {
      "parameters": {
        "text": "={{ $json.body }}",
        "attributes": {
          "attributes": [
            {
              "name": "Posting Title",
              "description": "Job Posting Title",
              "required": true
            },
            {
              "name": "Company Name",
              "description": "Company name of the job posting",
              "required": true
            },
            {
              "name": "Posting Text",
              "description": "Posting text of the job posting. Include work responsibilities, description of the company, Qualifications, Salary Information.  Format this in markdown.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm that can focus on Job Postings.\nOnly extract relevant information from the text.\n\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1480,
        -600
      ],
      "id": "1cf193e6-3240-4920-a6c3-a6a47c6ff83c",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1500,
        -400
      ],
      "id": "49eb01d4-246f-45d2-94f6-7593e9d219a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iu2MPBQpwaTZFVC4",
          "name": "OpenAi account (Job Search)"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1220,
        -600
      ],
      "id": "5a4691b0-9fdc-4940-9d43-26113afc07cb",
      "name": "Extract the body"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $json.PositionTitleColumn_ID }}",
              "fieldValue": "={{ $('Information Extractor').item.json.output['Posting Title'] }}"
            },
            {
              "fieldId": "={{ $json.CompanyNameColumn_ID }}",
              "fieldValue": "={{ $('Information Extractor').item.json.output['Company Name'] }}"
            },
            {
              "fieldId": "={{ $json.PostingTextColumn_ID }}",
              "fieldValue": "={{ $('Information Extractor').item.json.output['Posting Text'] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2220,
        -600
      ],
      "id": "c7be2480-0f83-426c-90db-b2fd68f7b005",
      "name": "Update with Posting Information",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "480345b7-4d99-4839-adbe-9f4beeff1e71",
              "leftValue": "={{ $json.body.items[0].Resume }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        80
      ],
      "id": "356c62e9-d24e-4380-9663-e6560361f3e8",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.body.items[0].Resume[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        -160
      ],
      "id": "7879202a-b2e1-462a-ad94-14bfd7359b32",
      "name": "Download Resume"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3a1b8638-cabb-4e1a-8dcc-bf9ca291a0c0",
      "name": "Extract from Resume PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1240,
        -160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27c5a223-e355-415a-8a23-0f5df10dee51",
              "name": "posting",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Posting Text'] }}",
              "type": "string"
            },
            {
              "id": "e1dca750-6d70-4582-afd1-bf25f57ad71c",
              "name": "resume",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "01ae07a0-65c0-4e64-b587-da3905b47e49",
              "name": "position",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Position Title'] }}",
              "type": "string"
            },
            {
              "id": "c9befc42-9ff9-4872-99ef-2d2d42a11c30",
              "name": "company",
              "value": "={{ $('Action Selected').item.json.body.items[0]['Company Name'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3c5def6-2877-4474-8db8-da40ccaab0f3",
      "name": "Save Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        -160
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.5-preview",
          "mode": "list",
          "cachedResultName": "GPT-4.5-PREVIEW"
        },
        "messages": {
          "values": [
            {
              "content": "=I want you to act as a Human Resources recruiter for {{ $json.company }}, hiring for the position of {{ $json.position }}. I am considering applying for this job and need your expertise to assess how well my resume aligns with the job description and identify opportunities to improve my resume for this role.\n\nFollow the steps outlined below. Use clear formatting, standardized methods for evaluation, and examples where applicable to ensure consistency.\n\n---\n\n### **Step 1: Review the Job Description**\n\nHere is the job description for your review:\n\n<job_description>\n{{ $json.posting }}\n</job_description>\n\n---\n\n### **Step 2: Review My Resume**\n\nHere is my resume for your review:\n\n<resume>\n{{ $json.resume }}\n</resume>\n\n---\n\n### **Step 3: Analyze Job Fit**\n\n#### **Step 3.1: Break Down the Job Description**\n\nOrganize the job description into the following categories:\n\n- **Job Responsibilities**: Key tasks and duties.\n- **Required Skills/Qualifications**: Must-haves (e.g., degrees, certifications, years of experience).\n- **Preferred Skills**: Nice-to-haves but not mandatory.\n- **Soft Skills**: Interpersonal or cultural competencies.\n\n#### **Step 3.2: Match Experience to Requirements**\n\nFor each category, compare your resume with the job description using a **three-tier rating system**:\n\n- **Fully Meets**: Directly demonstrated in the resume.\n- **Partially Meets**: Related experience or transferable skill is present but not fully aligned.\n- **Does Not Meet**: No evidence of experience or skill in this area.\n\nProvide the analysis in a **table format**.\n\n**Example Table for Fit Analysis**:\n\n|**Requirement**|**Your Skills/Experience**|**Rating**|**Notes**|\n|---|---|---|---|\n|5+ years of project management|6 years leading teams|Fully Meets|Matches requirement completely.|\n|Knowledge of Salesforce CRM|HubSpot CRM experience|Partially Meets|Transferable CRM knowledge.|\n|Bachelor's in Marketing|B.A. in Communications|Partially Meets|Overlap in related coursework.|\n\n#### **Step 3.3: Identify Transferable Skills**\n\nHighlight skills or experiences from the resume that may be applied to the job requirements even if they are not exact matches.\n\n**Example Output**:\n\n- _Requirement_: \"Experience leading marketing campaigns\" → Your role as a project manager involved coordinating marketing and internal campaigns, demonstrating transferable leadership skills.\n- _Requirement_: \"Knowledge of SEO\" → You have basic familiarity with keyword research and content optimization.\n\n#### **Step 3.4: Evaluate Technical Skills**\n\nCompare specific tools, software, or technical expertise mentioned in the job description with those listed in the resume.\n\n**Example Table for Technical Skills**:\n\n|**Tool/Software**|**Your Experience**|**Fit?**|\n|---|---|---|\n|Salesforce CRM|HubSpot CRM experience|Partially Meets|\n|Google Analytics|Advanced user, certified|Fully Meets|\n\n#### **Step 3.5: Assess Soft Skills**\n\nEvaluate soft skills listed in the job description and provide examples from the resume that demonstrate these.\n\n**Example Output**:\n\n- _Requirement_: \"Strong communication skills\" → In your last role, you presented monthly strategy updates to executives, showcasing excellent communication skills.\n- _Requirement_: \"Team player\" → Managed a cross-functional team to deliver projects on time, reflecting collaboration and leadership abilities.\n\n#### **Step 3.6: Address Experience Gaps**\n\nIdentify areas where qualifications are missing or underemphasized and suggest actionable ways to address these in the resume or application.\n\n---\n\n### **Step 4: Provide an Assessment**\n\n#### **4.1: Candidate Fit Summary**\n\n- **Overall Fit Percentage**: Calculate the percentage match based on this weightage:\n    - **Required Skills**: 50%\n    - **Preferred Skills**: 30%\n    - **Soft Skills**: 20%\n\n**Example Fit Calculation**:\n\n- Required Skills: 80% match → Weighted score: 40%\n    \n- Preferred Skills: 50% match → Weighted score: 15%\n    \n- Soft Skills: 90% match → Weighted score: 18%  \n    **Total Fit Percentage**: 73%\n    \n- **Strengths**: Highlight areas where the resume aligns strongly with the job requirements. Use specific quotes from the job description and the resume.\n    \n\n**Example Strengths Output**:\n\n- _Job Description_: \"Proven ability to lead teams.\"\n    \n- _Resume_: \"Led a team of 12 in executing a $1M project, achieving a 20% cost reduction.\"\n    \n- **Weaknesses**: Identify areas of misalignment or missing qualifications and suggest ways to address these.\n    \n\n**Example Weaknesses Output**:\n\n- _Job Description_: \"5+ years of experience in data analysis.\"\n- _Resume_: \"2 years of data analysis experience, primarily in a supporting role.\"\n\n#### **4.2: Salary Information**\n\n- Extract salary/pay information from the job description. If unavailable, state: _\"Salary information was not included.\"_\n\n---\n\n### **Step 5: Recommend Resume Improvements**\n\nIn this section, provide a detailed suggestions of how I can optimize my resume for both recruiters and ATS systems. Consider the following:\n\n#### **5.1: ATS Optimization**\n\n- Formatting: Ensure that the resume follows simple, traditional formatting with clear section headings (e.g., \"Work Experience,\" \"Education,\" \"Skills\"). Avoid complex layouts, graphics, or tables that could confuse ATS systems.\n- Keywords: Verify that my resume includes keywords directly from the job description. For example, if the job posting mentions \"project management,\" ensure that my resume includes this exact term (and related terms like \"program management\" or \"cross-functional leadership\").\n- Job Titles: Check that the job titles on my resume are standardized. If my role had a unique title, consider adding the industry-standard version in parentheses (e.g., \"Project Manager (Project Lead)\").     \n- Headings: Review my section headings to ensure they match the standard ones used by ATS systems (e.g., \"Work Experience\" instead of \"Where I’ve Worked\").\n- Abbreviations and Acronyms: Check my resume for abbreviations or acronyms that could confuse ATS systems. Make sure to spell out terms at least once, followed by the abbreviation in parentheses. For example, \"Search Engine Optimization (SEO)\" should be used instead of just \"SEO.\"\n- Action Verbs: Ensure that my resume uses strong action verbs like \"managed,\" \"developed,\" and \"led\" to clearly highlight achievements and contributions.\n\n\n#### **5.2: Enhancing Compellingness**\n\nProvide recommendations on how I can improve my resume to make it more compelling to recruiters.\n\n- Suggest specific ways to improve the resume:\n    - Add measurable accomplishments (e.g., \"Increased sales by 15% over 12 months\").\n    - Include missing technical or soft skills explicitly.\n    - Reframe descriptions to better align with the job requirements.\n\n---\n\n### **Instructions**\n\n- Be thorough in your analysis.\n- Be conversational, supportive yet professional in your tone.\n- Ensure that you include a status for Step 1.\n- Ensure that you include a status for Step 2.\n- Use structured tables and bullet points for clarity.\n- Provide actionable feedback that I can implement to improve my resume and application.\n\n---"
            }
          ]
        },
        "options": {}
      },
      "id": "ba724574-1883-46aa-aa63-b0a948155f66",
      "name": "Resume and Job Posting Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1700,
        -160
      ],
      "credentials": {
        "openAiApi": {
          "id": "Iu2MPBQpwaTZFVC4",
          "name": "OpenAi account (Job Search)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $json.AnalysisColumn_ID }}",
              "fieldValue": "={{ $('Resume and Job Posting Analysis').item.json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2360,
        -160
      ],
      "id": "cba0de32-b76a-44d5-9689-2dcf4003a603",
      "name": "Update with Analysis",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "support@boogienet.com",
        "fromName": "Job Search Bot",
        "toEmail": "={{ $json.Email }}",
        "subject": "=Posting / Resume Analysis: {{ $('Update with Analysis').item.json['Position Title'] }} ({{ $('Update with Analysis').item.json['Company Name'] }})",
        "contentType": "text/html",
        "contentValue": "={{ $json.analysis_html }}",
        "additionalFields": {
          "bccEmail": "rsmacapinlac@boogienet.com"
        }
      },
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        3080,
        -160
      ],
      "id": "700ba0ea-967a-4b66-acac-05f3fc5f6d71",
      "name": "Email the Analysis",
      "credentials": {
        "sendGridApi": {
          "id": "VtMovXvSYGhENdcJ",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Update with Analysis').item.json.Analysis }}",
        "destinationKey": "analysis_html",
        "options": {
          "tablesHeaderId": true,
          "tables": true
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2860,
        -160
      ],
      "id": "f4107575-1d50-4662-840c-654bbfa960e2",
      "name": "Convert Analysis to an Email Friendly Format"
    },
    {
      "parameters": {
        "databaseId": 231,
        "tableId": 863,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8570,
                "value": "={{ $('Action Selected').item.json.body.table_id }}"
              },
              {
                "field": 8567,
                "operator": "boolean",
                "value": "True"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1960,
        -600
      ],
      "id": "1324415f-f8fb-4506-b9e6-aac11c883da4",
      "name": "Who is making the request",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 231,
        "tableId": 863,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8570,
                "value": "={{ $('Action Selected').item.json.body.table_id }}"
              },
              {
                "field": 8567,
                "operator": "boolean",
                "value": "True"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2100,
        -160
      ],
      "id": "34b0be42-db3b-4122-9f4f-3b1c7a19960a",
      "name": "Who is making the request (analysis)",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $('Who is making the request').item.json.ActionColumn_ID }}",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        2460,
        -600
      ],
      "id": "543ae4a9-d7c5-460e-9ff3-bef366c25049",
      "name": "Reset Action Column (Save Resume)",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $('Who is making the request (analysis)').item.json.ActionColumn_ID }}",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        3280,
        -160
      ],
      "id": "d34701fa-5849-484f-847b-444eb2e3e267",
      "name": "Reset Action Column (Perform Analysis)",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "databaseId": 231,
        "tableId": 863,
        "limit": 1,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 8570,
                "value": "={{ $('Action Selected').item.json.body.table_id }}"
              },
              {
                "field": 8567,
                "operator": "boolean",
                "value": "True"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "id": "ce9cae5c-f3fe-46cc-84ac-5eb01f0d4eec",
      "name": "Who is making the request (No Resume)",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": "={{ $('Action Selected').item.json.body.database_id }}",
        "tableId": "={{ $('Action Selected').item.json.body.table_id }}",
        "rowId": "={{ $('Action Selected').item.json.body.items[0].id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $json.ActionColumn_ID }}",
              "fieldValue": "={{ null }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ],
      "id": "c71cd43c-29a0-42bc-9755-bc962c33dbe6",
      "name": "Reset Action Column (No resume)",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {
    "Information Extractor": [
      {
        "json": {
          "output": {
            "Posting Title": "Manager Middleware Platforms",
            "Company Name": "ICBC",
            "Posting Text": "### Position Highlights\nWe are excited to offer a leadership opportunity for the role of Manager, Middleware Platforms—a key position responsible for shaping how we deliver services to our business customers and aligning our technologies and processes with our strategic goals.\n\nReporting to the Senior Manager, Software Technology Platforms, this role oversees a diverse and complex portfolio of technologies that directly support many of the critical business systems serving our customers across British Columbia.\n\nThe Middleware Platforms team is responsible for implementing and maintaining the infrastructure that powers our integration and application hosting platforms. As our systems evolve toward more agile, cloud-based solutions, this infrastructure becomes increasingly vital for our IT operations. In alignment with ICBC’s IT strategy, we are focused on accelerating the delivery of business value through modern, scalable technology.\n\nThis opportunity is ideal for seasoned managers who excel at understanding complex business needs and leveraging technology to drive meaningful organizational transformation.\n\n### Position Requirements\n\nYou are a self-motivated, confident, and results-driven technology leader with a proven track record of managing and continuously enhancing complex IT operations to deliver exceptional, customer-focused services and solutions. You bring a wealth of experience, including:\n\n* Extensive hands-on leadership experience in IT infrastructure, with a solid background in Middleware and Technology Platforms. Experience with technologies such as IBM Integration Software, WebSphere Application Server, Apache, and F5 is considered a strong asset.\n* Effective leadership, with a strategic vision and the ability to coach, mentor, and build high-performing, cross-functional teams that deliver on key milestones and stable platforms.\n* Strong grasp of emerging technologies and their potential to transform business and technical operations. Working knowledge of Cloud computing, IT infrastructure, Cybersecurity, DevOps, and containerization is considered a valuable asset.\n* Proven ability to drive operational improvements, leveraging change management principles to guide teams through technology transformation and continuous improvement.\n* Business acumen and customer-centric mindset, with the ability to align IT initiatives to departmental goals, translating them into improved processes, systems, and business outcomes with measurable ROI.\n* Exceptional relationship-building skills, enabling you to influence direction, lead changes, and collaborate across the organization to translate business needs into effective technology solutions.\n* Operational expertise in managing budgets, third-party service providers, and vendor relationships to ensure value and performance.\n\nAbove all, you bring a deep passion and curiosity for technology and its potential to enrich every aspect of the organization.\n\n### Position Information:\n\n* Salary Range: $116,300.00 - $165,000.00 Annually\n* ICBC provides comprehensive and flexible benefit coverage to all eligible employees including a defined benefit pension plan.\n* Three options of health and dental coverage. Two of those options fully paid by ICBC and with access to Flex credits.\n* 100% employer-paid life insurance, long term disability and travel insurance.\n* Sick leave plan – 100% of pay for a period of a maximum of 8 weeks plus 85% of your pay for a subsequent period of up to 9 weeks.\n* Additional optional insurance coverages.\n* Work arrangements defined: Hybrid 8 – you will work a minimum of 8 days in a 4-week period at your primary office headquarters (typically 2 days per week). The remaining days will be remote within British Columbia.\n\n### About us:\nAt ICBC, it’s our job to make sure the car insurance system works for all British Columbians, today and in the future. If you want to make the most of your skills and expertise while growing your career, we want you. A career at ICBC is an opportunity to be part of a talented, diverse and inclusive team that is driven to serve its customers and community. You can expect a competitive salary, comprehensive benefits and a collaborative work environment. If you are reliable and dependable, contact us today to be part of our talented and diverse team as we work together to create an insurance system we can all be proud of."
          }
        }
      }
    ],
    "Resume and Job Posting Analysis": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "### ✅ **Step 1: Review Job Description – STATUS: Completed**\n\nI reviewed the job posting thoroughly. Here is the relevant information clearly organized for ease of comparison with your resume.\n\n---\n\n### ✅ **Step 2: Review Your Resume – STATUS: Completed**\n\nYour resume has been reviewed in detail.\n\n---\n\n## 📝 **Step 3: Analyze Job Fit**\n\n---\n\n### **Step 3.1: Break Down the Job Description**\n\n| Category                  | Details                                                                                     |\n|---------------------------|---------------------------------------------------------------------------------------------|\n| **Job Responsibilities**  | - Oversee Middleware infrastructure (Integration/Application Platforms)<br>- Strategic alignment & transformation<br>- Lead team to enhance service delivery and operations<br>- Manage vendor relationships & budgets<br>- Coach, mentor, build high-performance teams |\n| **Required Skills/Qualifications** | - Extensive IT infrastructure leadership experience<br>- Background in Middleware Platforms<br>- Experience in IBM Integration Software, WebSphere, Apache, F5 (Asset)<br>- Strong understanding of Cloud, Cybersecurity, DevOps, containerization (Asset)<br>- Proven leadership & mentoring skills<br>- Change management experience<br>- Budget & vendor management |\n| **Preferred Skills**      | - Knowledge of emerging technologies (Cloud computing, containerization, cybersecurity)<br>- Experience using IBM middleware suites (WebSphere, Integration Bus)<br>- Exposure to Agile and DevOps transformations |\n| **Soft Skills**           | - Exceptional relationship-building skills<br>- Business acumen and customer-centric mindset<br>- Strategic thinking and visionary leadership<br>- Effective influencer and collaborator<br>- Passion and curiosity for technology |\n\n---\n\n### **Step 3.2: Match Experience to Requirements**\n\n| Requirement | Your Skills/Experience | Rating | Notes |\n|-------------|------------------------|--------|-------|\n| Extensive IT infrastructure leadership exp. | Extensive technical dev. experience, but limited direct infrastructure leadership | Partially Meets | Leadership in technical development/tools; not direct platform infrastructure |\n| Middleware background (IBM/WebSphere/Apache/F5)| Experience with F5 explicitly listed; extensive integration experience | Partially Meets | Good integration exp. (REST APIs, OpenShift), explicitly mentioned F5 usage in an existing project |\n| Cloud & emerging tech (DevOps, Containerization)| Azure, Docker, OpenShift experience | Fully Meets | Explicit experience listed aligns well |\n| Proven leadership & mentoring | Mentored developers and acted as escalation point | Fully Meets | Strong mentoring experience clearly stated |\n| Change management experience | Conducted multiple system transformations & new technology implementations; experience with Contact Centre renewal and process automation projects | Fully Meets | Solid experience demonstrating tech transformation/change management |\n| Vendor & budget management | Experience with RFI & NRFP process and external system integrators/vendors in Contact Centre project | Partially Meets | Demonstrated vendor interaction, but not explicit budget management |\n\n---\n\n### **Step 3.3: Identify Transferable Skills**\n\n- **IT Infrastructure Management** → Your senior roles required extensive coordination across multi-system environments, partnerships with external vendors, and solutions architecture ownership—demonstrating your capabilities for infrastructure oversight.\n- **Middleware Platform Experience** → Your experience with integration platforms (REST APIs, BluePrism, F5, OpenShift, Outsystems) reflect highly transferable skills to Middleware infrastructure.\n- **Budget Management** → You've engaged in RFI/NRFP processes, vendor alignment and architecture/solution selection processes, building foundational skills for detailed budget oversight.\n\n---\n\n### **Step 3.4: Evaluate Technical Skills**\n\n| Technical Skill | Your Experience (per Resume) | Fit? |\n|-----------------|------------------------------|------|\n| IBM Integration Software, WebSphere | Not explicitly stated | Does Not Meet |\n| Apache | Not explicitly stated (though related web tech framework experience present) | Partially Meets |\n| F5 | Listed explicitly, integrations & implementation | Fully Meets |\n| Cloud Technologies (Azure, Containers) | Docker, OpenShift, Azure| Fully Meets |\n| DevOps Practices | Git, Azure, containerized applications & multiple integrations | Fully Meets |\n| Cybersecurity | Not explicitly stated; experience with authentication methods via F5| Partially Meets |\n\n---\n\n### **Step 3.5: Assess Soft Skills**\n\n| Soft Skill Requirement | Your Experience | Fit? | Comments |\n|------------------------|------------------|------|----------|\n| Relationship Building | Extensive cross-team collaboration and leading integrated solutions development | Fully Meets | Proven track record in relationship management |\n| Business Acumen & Customer-Centric Mindset| Delivering customer-facing enterprise renewals, driving clear and efficient solutions | Fully Meets | Demonstrated clear business outcomes (automation increases, process improvement) |\n| Strategic and Visionary Leadership| Owned architectural runway and established team capability | Fully Meets | Clear evidence of strategic architecture leadership |\n| Influencing & Collaboration| Collaboration with external system integrators, business stakeholders, internal teams | Fully Meets | Proven history working with stakeholders at all levels |\n| Passion & Curiosity for Technology| Performing POC for emerging technologies (mobile apps, image recognition, transcription)| Fully Meets | Clearly demonstrated curiosity and practical experiments |\n\n---\n\n### **Step 3.6: Address Experience Gaps**\n\n**Gaps Identified:**\n- Limited direct experience leading Middleware infrastructure platforms (IBM ecosystems—WebSphere, etc.)\n- No direct budgetary management or financial accountability explicitly referenced.\n\n**Ways to Address These Gaps:**\n- Highlight experience as Architecture Owner where you strategically influenced infrastructure-like decisions, platforms upgrades, or stability initiatives.\n- Clearly indicate budget-oriented project involvement (vendor selection, estimation, savings enabled through automation or system efficiency, time-cost savings translated to financial benefits).\n\n---\n\n## 📊 **Step 4: Provide an Assessment**\n\n---\n\n### 4.1: Candidate Fit Summary\n\n- **Overall Fit Percentage**\n\n|Category|Fit Level|Weighted Score|\n|--------|---------|--------------|\n| Required Skills (50%)| Approx. 75%| 37.5%|\n| Preferred Skills (30%)|Approx. 60% |18%|\n| Soft Skills (20%)|Approx. 100% |20%|\n| **Total**| |**75.5%**|\n\n**Overall Fit Percentage**: **75.5%** (High potential candidate; strong transferable skills, some gaps to be addressed)\n\n- **Strengths:**\n  - Strong leadership, mentoring and cross-team collaboration (clearly visible in resume).\n  - Technical depth (Cloud, DevOps, containerization clearly demonstrated).\n  - Exceptional alignment with soft skills requirements—relationship building, influencing, strategic vision.\n\n- **Weaknesses:**\n  - Primary gap is limited explicit Middleware infrastructure platform management (IBM/WebSphere stack).\n  - Limited explicit budget management/financial accountability experience.\n\n### 4.2: Salary Information\n\nSalary information was not explicitly stated in this job description.\n\n---\n\n## ✅ **Step 5: Recommend Resume Improvements**\n\n---\n\n### 5.1: ATS Optimization\n\n- **Formatting:** \n  - Your formatting is generally good. Ensure you maintain a text-based, standardized format. Recommend avoiding two-column layouts or intricate graphics.\n- **Keywords:** \n  - Include explicit keywords like \"Middleware Platforms,\" \"Middleware Infrastructure,\" \"IBM Integration,\" \"WebSphere,\" \"Apache,\" explicitly to attract ATS recognition.\n- **Job Titles:** \n  - Your job titles clearly state responsibility. Consider mapping internal titles clearly to job descriptions, ex: \"Senior Developer & Architect Owner (Middleware/Infrastructure Solutions)\" to match ATS targeted phrases.\n- **Headings:**\n  - Current headings (\"Work Experience,\" \"Education,\" and \"Technical Skills\") are ATS friendly.\n- **Acronyms / Abbreviations:** \n  - Done well. Keep standard acronym expansion format (as you have: Robotic Process Automation (RPA)).\n- **Action Verbs:**\n  - Strong use in current resume already present; try aligning closer to the verbs used in the job description (\"oversee\", \"coach\", \"align\", \"transform\").\n\n### 5.2: Enhancing Compellingness\n\n- **Measurable Outcomes:** Include clearer direct outcomes (e.g., \"Achieved 90% automation rate on invoice processing\"). Consider adding budgetary or financial efficiencies (\"Saved $XXK in resource hours\").\n- **Infrastructure-Related Experience:** Rewrite some project descriptions to clearly outline any indirect infrastructure involvement (platform stability, performance optimization, system-level integrations).\n- **Explicit Middleware experience:** Highlight existing integration experience clearly as Middleware-related platforms. Include projects mentioning F5 integrations more prominently.\n- **Vendor/Budget accountability:** Adjust the current RFI & NRFP descriptions. Highlight your role in assessing financial impacts, resource requirements, or vendor cost savings.\n- **Leadership roles clearly stated:** Adjust your roles to emphasize acting as a mentor and a strategic leader driving decisions/infrastructure planning.\n\n---\n\n## 👍 **Final Notes and Recommendations**\n\nYour resume and experience are solid—aligning strongly, particularly for soft skills, leadership, and Cloud/DevOps capabilities. Explicit Middleware platform experience and budget oversight need clearer emphasis—adapt your resume to surface project examples that emphasize infrastructure-level scope, vendor management, and budget-related impacts clearly.\n\nYou are a compelling candidate for this role. With minor adjustments, your resume and application would benefit greatly and boost your likelihood of capturing the recruiter's immediate attention and effectively passing ATS filters.\n\nFeel free to ask if you need any more support. Wishing you great success in your application!",
            "refusal": null,
            "annotations": []
          },
          "finish_reason": "stop"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automation.macapinlac.network",
            "user-agent": "python-requests/2.31.0",
            "content-length": "22339",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "50.98.52.36",
            "cf-ipcountry": "CA",
            "cf-ray": "94426d035e916063-YVR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "jobsearch": "#NMtdYS2f2c606",
            "x-baserow-delivery": "7261d9de-f3cf-4b39-a39b-765159921357",
            "x-baserow-event": "rows.updated",
            "x-forwarded-for": "162.158.146.28",
            "x-forwarded-host": "automation.macapinlac.network",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d4560ee3116b",
            "x-real-ip": "162.158.146.28"
          },
          "params": {},
          "query": {},
          "body": {
            "table_id": 861,
            "database_id": 230,
            "workspace_id": 154,
            "webhook_id": 7,
            "event_id": "7261d9de-f3cf-4b39-a39b-765159921357",
            "event_type": "rows.updated",
            "items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "uuid": "a41991ee-9415-41ec-8f89-adc09ad96543",
                "Posting URL": "https://amazon.jobs/en/jobs/2963780/software-development-manager-content-systems",
                "Action": null,
                "Resume": [
                  {
                    "url": "https://db.macapinlac.network/media/user_files/iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "thumbnails": null,
                    "visible_name": "Renee Cheung Resume.pdf",
                    "name": "iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "size": 32698,
                    "mime_type": "application/pdf",
                    "is_image": false,
                    "image_width": null,
                    "image_height": null,
                    "uploaded_at": "2025-05-16T17:20:08.699062+00:00"
                  }
                ],
                "Position Title": "Software Development Manager, Content Systems",
                "Company Name": "Amazon.com.ca, ULC",
                "Posting Text": "### DESCRIPTION\n\nAre you passionate about providing an epic experience for every interaction customers have with Amazon?\n\nWe own the largest content marketing system at Amazon driving billions of dollars through marketing sales and Prime memberships. We power content to millions of customers through Amazon website, mobile, email, and other devices across shopping, streaming and reading experiences.\n\nAs a Software Development Manager, you will be responsible for leading a team of engineers in the design, development, testing, and deployment of large-scale systems that handle billions of requests daily. We are building the next generation of content marketing systems to further scale up our business impact. You will have direct ownership over the design and architecture of new components, focusing on enhancing the platform's extensibility, scalability, availability, and latency.\n\nA successful candidate will possess an established background in engineering management, strong technical abilities, excellent project management skills and communication abilities, experience in engineering hiring, and a motivation to achieve results in a fast-paced environment.\n\nKey job responsibilities:\n- Responsible for the overall systems development life cycle\n- Management and execution against project plans and delivery commitments aligning with business\n- Manage the day-to-day activities of the engineering team within an Agile/Scrum environment\n- Management of departmental resources, staffing, mentoring, and enhancing and maintaining a best-of-class engineering team\n- Work closely with the engineers to architect and develop the best technical design and approach\n- Report on status of development, quality, operations, and system performance to management\n\nA day in the life:\nIn this role, you can expect to:\n- Lead a team of excellent engineers to design and build new systems to scale and automate the future of marketing systems\n- Iterate on products using feedback from thousands of users\n- Partner with designers to drive new user experiences\n\nAbout the team:\nThe Content Systems team owns the foundation of merchandising tools at Amazon. Our UIs and APIs provide Amazon employees with the best experience when creating and scheduling content for Amazon's customers. We enforce rules and guardrails through our APIs to protect the Amazon shopping experience. If you are passionate about software engineering and personalized content experiences at scale then we encourage you to apply.\n\n### BASIC QUALIFICATIONS\n\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi tier web services experience\n- Knowledge of engineering practices and patterns for the full software/hardware/networks development life cycle, including coding standards, code reviews, source control management, build processes, testing, certification, and livesite operations\n- Experience partnering with product or program management teams\n\n### PREFERRED QUALIFICATIONS\n\n- Experience in communicating with users, other technical teams, and senior leadership to collect requirements, describe software product features, technical designs, and product strategy\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers to improve their skills, and make them more effective, product software engineers\n\nAmazon is an equal opportunity employer and does not discriminate on the basis of protected veteran status, disability, or other legally protected status.\n\nThe base salary for this position ranges from $171,400/year up to $286,200/year. Salary is based on a number of factors and may vary depending on job-related knowledge, skills, and experience. Amazon is a total compensation company. Dependent on the position offered, equity, sign-on payments, and other forms of compensation may be provided as part of a total compensation package, in addition to a full range of medical, financial, and/or other benefits.",
                "Analysis": "### **Step 1: Review the Job Description**\n\nStatus: **Completed** \n\n---\n\n### **Step 2: Review of Resume**\n\nStatus: **Completed** \n\n---\n\n### **Step 3: Analyze Job Fit**\n\n#### **Step 3.1: Break Down the Job Description**\n\n**Job Responsibilities**:\n- Leading a team of engineers in the design, development, testing, and deployment of large-scale systems\n- Engaging within an Agile/Scrum environment\n- Reporting on status of development, quality, operations, and system performance\n- Collaborating with other engineers, designers, and stakeholders\n- Managing the day-to-day activities of the engineering team\n\n**Required Skills/Qualifications**:\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi-tier web services experience\n- Knowledge of the full software/hardware/networks development life cycle\n\n**Preferred Skills**:\n- Experience communicating with users, other technical teams, and senior leadership\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers\n\n**Soft Skills**:\n- Excellent project management skills and communication abilities\n- A motivation to achieve results in a fast-paced environment\n\n#### **Step 3.2: Match Experience to Requirements**\n\n**Table for Fit Analysis**:\n\n|**Requirement**|**Your Skills/Experience**|**Rating**|**Notes**|\n|---|---|---|---|\n|3+ years of engineering team management|20+ years of managing cross-functional teams|Fully Meets|More than required years of experience.|\n|7+ years of engineering experience|20+ years in digital solutions, including tech lead roles|Fully Meets|More than required years of experience.|\n|8+ years of web services development experience|Experience in leading the re-platform of a large-scale website |Partially Meets|Relevant but not exactly as required.|\n|Knowledge of full software development life cycle|Experience in managing customer-facing digital services|Fully Meets|Matches requirement completely.|\n|Experience communicating with stakeholders|Experience in partnering with business stakeholders and internal IT|Fully Meets|Matches requirement completely.|\n|Recruiting, hiring, mentoring/coaching teams|Managed large teams, no explicit mention of recruiting, hiring, or mentoring|Partially Meets|Partially meets, but could be made more explicit in the resume.|\n\n#### **Step 3.3: Identify Transferable Skills**\n\n- _Requirement_: \"Responsible for the overall systems development life cycle\" → You have managed the systems lifecycle for customer-facing digital services at ICBC, showcasing a transferrable skill.\n- _Requirement_: \"Management of departmental resources, staffing, and enhancing and maintaining a best-of-class engineering team\" → As a Digital Solutions Manager, you have led and managed various teams and resources, demonstrating transferable management skills.\n\n#### **Step 3.4: Evaluate Technical Skills**\n\n**Table for Technical Skills**:\n\n|**Tool/Software**|**Your Experience**|**Fit?**|\n|---|---|---|\n|N/A|N/A|N/A|\n\n*No specific technical tools, software, or methods were mentioned in the job description.*\n\n#### **Step 3.5: Assess Soft Skills**\n\n- _Requirement_: \"Excellent project management skills and communication abilities\" → As a digital solutions manager, you managed various digital initiatives and partnered with numerous stakeholders. This demonstrates strong project management and communication abilities.\n- _Requirement_: \"Motivation to achieve results in a fast-paced environment\" → You efficiently managed a $4M initiative, involving various teams and stakeholders, which reflects your ability to achieve results in a fast-paced environment.\n\n#### **Step 3.6: Address Experience Gaps**\n\n- More explicit mention of experience with recruiting, hiring, mentoring, and coaching team members could make your resume stronger. Include examples of these activities, if applicable.\n- While you have relevant experience, the job requires specific experience in developing multi-tier web services. More details about your role and achievements in this area would be helpful.\n\n---\n\n### **Step 4: Provide an Assessment**\n\n#### **4.1: Candidate Fit Summary**\n\n- **Overall Fit Percentage**: \n\n    - Required Skills: 90% match → Weighted score: 45%\n    - Preferred Skills: 70% match → Weighted score: 21%\n    - Soft Skills: 100% match → Weighted score: 20%  \n    **Total Fit Percentage**: 86%\n\n- **Strengths**: \n    - We noted significant management experience which aligns with the requirement for \"3+ years of engineering team management\".\n    - We also noticed relevant experience in communication with stakeholders, which matches the preferred qualification \"Experience in communicating with users, other technical teams, and senior leadership.\"\n\n- **Weaknesses**:\n    - Your experience in web services development is implicitly referenced and could be elaborated on.\n    - No explicit mention of recruiting, hiring, mentoring, and coaching teams in your resume.\n\n#### **4.2: Salary Information**\n\n- Salary information is included, ranging from $171,400/year up to $286,200/year.\n\n---\n\n### **Step 5: Recommend Resume Improvements**\n\n#### **5.1: ATS Optimization**\n\n- Your resume currently uses clear and traditional formatting, which should be efficient for ATS.\n- Continue using keywords directly from the job description where applicable and natural.\n- Job titles and headings are standardized already, no additional need.\n- Abbreviations and Acronyms are properly spelled out.\n\n#### **5.2: Enhancing Compellingness**\n\n- Adding measurable accomplishments, especially relating to significant cost savings, performance improvements, or successful project completions can strengthen your resume.\n- Making explicit your experience with recruiting, hiring, mentoring, and managing teams would be beneficial.\n- Highlight your specific accomplishments and improvements made in the area of multi-tier web services development."
              }
            ],
            "old_items": [
              {
                "id": 1,
                "order": "1.00000000000000000000",
                "uuid": "a41991ee-9415-41ec-8f89-adc09ad96543",
                "Posting URL": "https://amazon.jobs/en/jobs/2963780/software-development-manager-content-systems",
                "Action": {
                  "id": 3649,
                  "value": "Save Posting",
                  "color": "blue"
                },
                "Resume": [
                  {
                    "url": "https://db.macapinlac.network/media/user_files/iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "thumbnails": null,
                    "visible_name": "Renee Cheung Resume.pdf",
                    "name": "iEgOGnIDXZQqZKYyi0xw4w2spJo8Cy3g_a8941d3031cca3cef3ae93481a8cc9954f3e6e88fbf1869f93a064dfa09618eb.pdf",
                    "size": 32698,
                    "mime_type": "application/pdf",
                    "is_image": false,
                    "image_width": null,
                    "image_height": null,
                    "uploaded_at": "2025-05-16T17:20:08.699062+00:00"
                  }
                ],
                "Position Title": "Software Development Manager, Content Systems",
                "Company Name": "Amazon.com.ca, ULC",
                "Posting Text": "### DESCRIPTION\n\nAre you passionate about providing an epic experience for every interaction customers have with Amazon?\n\nWe own the largest content marketing system at Amazon driving billions of dollars through marketing sales and Prime memberships. We power content to millions of customers through Amazon website, mobile, email, and other devices across shopping, streaming and reading experiences.\n\nAs a Software Development Manager, you will be responsible for leading a team of engineers in the design, development, testing, and deployment of large-scale systems that handle billions of requests daily. We are building the next generation of content marketing systems to further scale up our business impact. You will have direct ownership over the design and architecture of new components, focusing on enhancing the platform's extensibility, scalability, availability, and latency.\n\nA successful candidate will possess an established background in engineering management, strong technical abilities, excellent project management skills and communication abilities, experience in engineering hiring, and a motivation to achieve results in a fast-paced environment.\n\nKey job responsibilities:\n- Responsible for the overall systems development life cycle\n- Management and execution against project plans and delivery commitments aligning with business\n- Manage the day-to-day activities of the engineering team within an Agile/Scrum environment\n- Management of departmental resources, staffing, mentoring, and enhancing and maintaining a best-of-class engineering team\n- Work closely with the engineers to architect and develop the best technical design and approach\n- Report on status of development, quality, operations, and system performance to management\n\nA day in the life:\nIn this role, you can expect to:\n- Lead a team of excellent engineers to design and build new systems to scale and automate the future of marketing systems\n- Iterate on products using feedback from thousands of users\n- Partner with designers to drive new user experiences\n\nAbout the team:\nThe Content Systems team owns the foundation of merchandising tools at Amazon. Our UIs and APIs provide Amazon employees with the best experience when creating and scheduling content for Amazon's customers. We enforce rules and guardrails through our APIs to protect the Amazon shopping experience. If you are passionate about software engineering and personalized content experiences at scale then we encourage you to apply.\n\n### BASIC QUALIFICATIONS\n\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi tier web services experience\n- Knowledge of engineering practices and patterns for the full software/hardware/networks development life cycle, including coding standards, code reviews, source control management, build processes, testing, certification, and livesite operations\n- Experience partnering with product or program management teams\n\n### PREFERRED QUALIFICATIONS\n\n- Experience in communicating with users, other technical teams, and senior leadership to collect requirements, describe software product features, technical designs, and product strategy\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers to improve their skills, and make them more effective, product software engineers\n\nAmazon is an equal opportunity employer and does not discriminate on the basis of protected veteran status, disability, or other legally protected status.\n\nThe base salary for this position ranges from $171,400/year up to $286,200/year. Salary is based on a number of factors and may vary depending on job-related knowledge, skills, and experience. Amazon is a total compensation company. Dependent on the position offered, equity, sign-on payments, and other forms of compensation may be provided as part of a total compensation package, in addition to a full range of medical, financial, and/or other benefits.",
                "Analysis": "### **Step 1: Review the Job Description**\n\nStatus: **Completed** \n\n---\n\n### **Step 2: Review of Resume**\n\nStatus: **Completed** \n\n---\n\n### **Step 3: Analyze Job Fit**\n\n#### **Step 3.1: Break Down the Job Description**\n\n**Job Responsibilities**:\n- Leading a team of engineers in the design, development, testing, and deployment of large-scale systems\n- Engaging within an Agile/Scrum environment\n- Reporting on status of development, quality, operations, and system performance\n- Collaborating with other engineers, designers, and stakeholders\n- Managing the day-to-day activities of the engineering team\n\n**Required Skills/Qualifications**:\n- 3+ years of engineering team management experience\n- 7+ years of engineering experience\n- 8+ years of leading the definition and development of multi-tier web services experience\n- Knowledge of the full software/hardware/networks development life cycle\n\n**Preferred Skills**:\n- Experience communicating with users, other technical teams, and senior leadership\n- Experience in recruiting, hiring, mentoring/coaching and managing teams of Software Engineers\n\n**Soft Skills**:\n- Excellent project management skills and communication abilities\n- A motivation to achieve results in a fast-paced environment\n\n#### **Step 3.2: Match Experience to Requirements**\n\n**Table for Fit Analysis**:\n\n|**Requirement**|**Your Skills/Experience**|**Rating**|**Notes**|\n|---|---|---|---|\n|3+ years of engineering team management|20+ years of managing cross-functional teams|Fully Meets|More than required years of experience.|\n|7+ years of engineering experience|20+ years in digital solutions, including tech lead roles|Fully Meets|More than required years of experience.|\n|8+ years of web services development experience|Experience in leading the re-platform of a large-scale website |Partially Meets|Relevant but not exactly as required.|\n|Knowledge of full software development life cycle|Experience in managing customer-facing digital services|Fully Meets|Matches requirement completely.|\n|Experience communicating with stakeholders|Experience in partnering with business stakeholders and internal IT|Fully Meets|Matches requirement completely.|\n|Recruiting, hiring, mentoring/coaching teams|Managed large teams, no explicit mention of recruiting, hiring, or mentoring|Partially Meets|Partially meets, but could be made more explicit in the resume.|\n\n#### **Step 3.3: Identify Transferable Skills**\n\n- _Requirement_: \"Responsible for the overall systems development life cycle\" → You have managed the systems lifecycle for customer-facing digital services at ICBC, showcasing a transferrable skill.\n- _Requirement_: \"Management of departmental resources, staffing, and enhancing and maintaining a best-of-class engineering team\" → As a Digital Solutions Manager, you have led and managed various teams and resources, demonstrating transferable management skills.\n\n#### **Step 3.4: Evaluate Technical Skills**\n\n**Table for Technical Skills**:\n\n|**Tool/Software**|**Your Experience**|**Fit?**|\n|---|---|---|\n|N/A|N/A|N/A|\n\n*No specific technical tools, software, or methods were mentioned in the job description.*\n\n#### **Step 3.5: Assess Soft Skills**\n\n- _Requirement_: \"Excellent project management skills and communication abilities\" → As a digital solutions manager, you managed various digital initiatives and partnered with numerous stakeholders. This demonstrates strong project management and communication abilities.\n- _Requirement_: \"Motivation to achieve results in a fast-paced environment\" → You efficiently managed a $4M initiative, involving various teams and stakeholders, which reflects your ability to achieve results in a fast-paced environment.\n\n#### **Step 3.6: Address Experience Gaps**\n\n- More explicit mention of experience with recruiting, hiring, mentoring, and coaching team members could make your resume stronger. Include examples of these activities, if applicable.\n- While you have relevant experience, the job requires specific experience in developing multi-tier web services. More details about your role and achievements in this area would be helpful.\n\n---\n\n### **Step 4: Provide an Assessment**\n\n#### **4.1: Candidate Fit Summary**\n\n- **Overall Fit Percentage**: \n\n    - Required Skills: 90% match → Weighted score: 45%\n    - Preferred Skills: 70% match → Weighted score: 21%\n    - Soft Skills: 100% match → Weighted score: 20%  \n    **Total Fit Percentage**: 86%\n\n- **Strengths**: \n    - We noted significant management experience which aligns with the requirement for \"3+ years of engineering team management\".\n    - We also noticed relevant experience in communication with stakeholders, which matches the preferred qualification \"Experience in communicating with users, other technical teams, and senior leadership.\"\n\n- **Weaknesses**:\n    - Your experience in web services development is implicitly referenced and could be elaborated on.\n    - No explicit mention of recruiting, hiring, mentoring, and coaching teams in your resume.\n\n#### **4.2: Salary Information**\n\n- Salary information is included, ranging from $171,400/year up to $286,200/year.\n\n---\n\n### **Step 5: Recommend Resume Improvements**\n\n#### **5.1: ATS Optimization**\n\n- Your resume currently uses clear and traditional formatting, which should be efficient for ATS.\n- Continue using keywords directly from the job description where applicable and natural.\n- Job titles and headings are standardized already, no additional need.\n- Abbreviations and Acronyms are properly spelled out.\n\n#### **5.2: Enhancing Compellingness**\n\n- Adding measurable accomplishments, especially relating to significant cost savings, performance improvements, or successful project completions can strengthen your resume.\n- Making explicit your experience with recruiting, hiring, mentoring, and managing teams would be beneficial.\n- Highlight your specific accomplishments and improvements made in the area of multi-tier web services development."
              }
            ]
          },
          "webhookUrl": "https://automation.macapinlac.network/webhook/d8598f70-d498-48c4-9e9a-4fa110cb03ef",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    },
    {
      "createdAt": "2025-05-16T15:20:34.893Z",
      "updatedAt": "2025-05-16T15:20:34.893Z",
      "id": "fHbNH0OHojdeVCah",
      "name": "AI System"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-23T15:17:09.000Z",
  "versionId": "8fdb6fec-f987-48f8-965f-1f256e27308b"
}