workflows/Setup Job Application Folder.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Paths",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Posting and Paths",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Create Company Path": {
      "main": [
        [
          {
            "node": "Nextcloud - Create Position Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Paths": {
      "main": [
        [
          {
            "node": "Nextcloud - Create Company Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Posting and Paths": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Nextcloud - Save Cleaned up posting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Path": {
      "main": [
        [
          {
            "node": "Nextcloud - Copy Master Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nextcloud - Create Position Path": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-23T05:15:21.975Z",
  "id": "Nk7mJVSD56Bl63sy",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Setup Job Application Folder",
  "nodes": [
    {
      "parameters": {},
      "id": "a2704990-8c33-4ccb-bbd8-1db9cf4a52fe",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "path": "={{ $json.company_path }}"
      },
      "id": "02ee8723-85b0-46a3-b6c3-4ab025c55d03",
      "name": "Nextcloud - Create Company Path",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "folder",
        "path": "={{ $('Set Paths').item.json.position_path }}"
      },
      "id": "29ff7631-3247-430c-89de-33ecd5736af8",
      "name": "Nextcloud - Create Position Path",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc276fb7-f72d-4dc3-a481-c8f2479a0348",
              "name": "company_path",
              "value": "=/Jobs/{{ $json.Company }}",
              "type": "string"
            },
            {
              "id": "aec9edcd-54b0-41ab-9a82-e6e7b9e5a2c9",
              "name": "position_path",
              "value": "=/Jobs/{{ $json.Company }}/{{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1acec03b-1834-43b2-975d-86fd8e683293",
      "name": "Set Paths",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "089bdf90-07c0-42d9-b04f-1d8e9438e57f",
              "name": "posting",
              "value": "={{ $json['Posting Text'] }}",
              "type": "string"
            },
            {
              "id": "53bd8793-5bc8-4fb7-8cca-20eab3dd4f23",
              "name": "position_path",
              "value": "=/Jobs/{{ $json.Company }}/{{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "74aa90df-16c5-4823-b6cf-e32a6baa5b30",
      "name": "Set Posting and Paths",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        420
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=Clean up the attached text into markdown format. Do not alter any of the content. Simply update to include the following markdown elements:\n\n- Headings and subheadings\n- Bullet points\n- Quotes\n\nThe following is the text:\n\n {{ $json.posting }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5c9cce7f-f937-4bae-a589-8000c9bc7c51",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        460,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "ojJVqUWOFMKOOLeQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "={{ $('Set Posting and Paths').item.json.position_path }}/Posting.md",
        "fileContent": "={{ $json.message.content }}"
      },
      "id": "d7b908d7-2e09-4f39-9e24-a2963b2cc606",
      "name": "Nextcloud - Save Cleaned up posting",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        840,
        420
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53bd8793-5bc8-4fb7-8cca-20eab3dd4f23",
              "name": "position_path",
              "value": "=/Jobs/{{ $json.Company }}/{{ $json.Position }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a7792771-30c9-4fc9-8e89-7af4ea818e53",
      "name": "Set Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        660
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "copy",
        "path": "/Jobs/_Masters/Resume Master.odt",
        "toPath": "={{ position_path }}/Resume.odt"
      },
      "id": "0963d368-0c5c-4fba-a189-20694e7d2f24",
      "name": "Nextcloud - Copy Master Resume",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        480,
        660
      ],
      "credentials": {
        "nextCloudOAuth2Api": {
          "id": "fLXJCCubxnE7gtwF",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 124,
        "tableId": 592,
        "rowId": "={{ $('Execute Workflow Trigger').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5620,
              "fieldValue": "={{ $('Set Paths').item.json.position_path }}/"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        920,
        200
      ],
      "id": "32372c18-952a-43c5-9358-17caf44cda0a",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-21T01:31:06.740Z",
      "updatedAt": "2024-10-21T01:31:06.740Z",
      "id": "IvxaDJAqZrWQAVKk",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-11-02T15:45:55.000Z",
  "versionId": "00b4587e-c4da-4339-af0d-6a1990fe7c22"
}