workflows/Update One on One table with Monica ID.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        [
          {
            "node": "Monica CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monica CRM": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Baserow - Update Monica ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-07T20:05:01.211Z",
  "id": "wvk8kfmpYeZnohKC",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Update One on One table with Monica ID",
  "nodes": [
    {
      "parameters": {},
      "id": "a4b47842-a134-48bf-8a80-74e81427cf7e",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "databaseId": 33,
        "tableId": 583,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 5548,
                "operator": "empty",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "d1365a13-1a89-4b0d-bb7e-0b4b4e1c8eb3",
      "name": "Baserow",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        860,
        400
      ],
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "query": "={{ $json.Name }}"
        }
      },
      "id": "cdce2ba3-e78e-4d6c-b2a3-307780680e8f",
      "name": "Monica CRM",
      "type": "n8n-nodes-base.monicaCrm",
      "typeVersion": 1,
      "position": [
        1080,
        400
      ],
      "credentials": {
        "monicaCrmApi": {
          "id": "MQNOIs99uoEzemTz",
          "name": "Monica CRM account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ea827520-9b17-4e72-bde7-018ea9626472",
              "leftValue": "={{ $json.complete_name }}",
              "rightValue": "={{ $('Baserow').item.json.Name }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1655e94c-9b5d-47e2-aecf-6cc03dd9cd06",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1300,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 33,
        "tableId": 583,
        "rowId": "={{ $('Baserow').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 5548,
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "c115538f-00f6-41e0-9d5a-ae826542cfb5",
      "name": "Baserow - Update Monica ID",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1520,
        400
      ],
      "credentials": {
        "baserowApi": {
          "id": "d2WUYcb60dACjFtq",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-07T20:29:42.195Z",
      "updatedAt": "2024-12-07T20:29:42.195Z",
      "id": "6MFJ0FQpF15MlP3q",
      "name": "One on one"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-12-07T20:38:17.000Z",
  "versionId": "31d326b5-fa6f-42f0-a1b6-55972e13de26"
}